logs/*
!.gitkeep
**/node_modules/
**/bower_components/
tmp
.DS_Store
.idea
app/jspm_packages
jpa/jpa.iml
jpa/target/
model/model.iml
model/target/
service/service.iml
waldo.iml
web/src/main/webapp/npm-debug.log
service/target/
web/target/
web/web.iml