<md-content layout="column" layout-fill ng-init="init()">
    <div layout="row" flex>
        <div layout="column" flex="50" layout-padding layout-align="center start">
            <!--_________________________________________________ PACKAGE INPUT ________________________________________________-->
            <div layout="row">
                <md-checkbox ng-model="newPostDataCheck.stuff"
                             aria-label="stuff_checkbox">Ачаа
                </md-checkbox>
                <md-input-container  ng-show="!newPostDataCheck.stuff">
                    <label>Ачааны шаардлага</label>
                    <textarea ng-model="newPost.stuff" type="text"
                              md-maxlength="70" maxlength="70"></textarea>
                </md-input-container>
            </div>

            <md-input-container>
                <label>Тээврийн хэрэгсэлийн төрөл<span class="star-red">*</span></label>
                <md-select
                        ng-model="newPost.transportationId">
                    <md-option ng-repeat="transport in transportation"
                               ng-value="{{transport.id}}">
                        {{transport.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex="50" layout-padding layout-align="center start">
            <!--_________________________________________________ DEPARTURE CITY OR PROVINCE ________________________________________________-->
            <div layout="row">
                <md-checkbox ng-model="newPostDataCheck.animal"
                             aria-label="animal_checkbox">Амьтан
                </md-checkbox>
                <md-input-container>
                    <label>Амьтаны шаардлага</label>
                    <textarea ng-model="newPost.animal" type="text"
                              ng-disabled="!newPostDataCheck.animal"
                              md-maxlength="70" maxlength="70"></textarea>
                </md-input-container>
            </div>
            <!--_________________________________________________ PASSANGER INPUT ________________________________________________-->
            <div layout="row">
                <md-checkbox ng-model="newPostDataCheck.passanger"
                             aria-label="passanger_checkbox">Зорчигч
                </md-checkbox>
                <md-input-container>
                    <input ng-model="newPost.passanger" type="number" value="1"
                           ng-disabled="!newPostDataCheck.passanger" min="1" max="50">
                </md-input-container>
            </div>
        </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" flex>
        <div layout="column" flex="50" layout-padding layout-align="center start">
            <div layout="row">
                <div layout="column">
                    <label class="filter-title">Хөдлөх хот/аймаг</label>
                    <md-select class="datepicker-filter-adjust5" data-ng-model="newPost.fromCityId" placeholder="Сонгох">
                        <md-option  ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                    </md-select>
                </div>
            </div>
            <div layout="row">
                <div layout="column">
                    <label class="filter-title">Очих хот/аймаг</label>
                    <md-select class="datepicker-filter-adjust5" data-ng-model="newPost.toCityId" placeholder="Сонгох">
                        <md-option  ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                    </md-select>
                </div>
            </div>
            <div layout="row">
                <div layout="column">
                    <label class="filter-title">Явах огноо эхлэх</label>
                    <md-datepicker ng-model="newPost.when" md-placeholder="Сонгох" format="yyyy.MM.dd"
                                   class="datepicker-filter-adjust2"
                                   md-min-date="newPostDataCheck.arriveDate"></md-datepicker>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex="50" layout-padding layout-align="center start">
            <div layout="row" flex>
                <div class="column">
                    <label class="filter-title">Хөдлөх дүүрэг/сум</label>
                    <md-select class="datepicker-filter-adjust5" data-ng-model="newPost.fromDistrictId" placeholder="Сонгох">
                        <md-option  ng-value="{{district.id}}" ng-repeat="district in fromDistricts">{{district.name}}</md-option>
                    </md-select>
                </div>
            </div>

            <div layout="row">
                <div class="column">
                    <label class="filter-title">Очих дүүрэг/сум</label>
                    <md-select class="datepicker-filter-adjust5" data-ng-model="newPost.toDistrictId" placeholder="Сонгох">
                        <md-option  ng-value="{{district.id}}" ng-repeat="district in toDistricts">{{district.name}}</md-option>
                    </md-select>
                </div>
            </div>

            <div layout="row">

                <div layout="column">
                    <label class="filter-title">Явах огноо дуусах</label>
                    <md-datepicker ng-model="newPost.arrive" md-placeholder="Сонгох"

                                   class="datepicker-filter-adjust2"
                                   md-min-date="newPostDataCheck.leaveDate"></md-datepicker>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="end center">
        <md-button ng-click="newPostSteps(1)">Буцах</md-button>
        <md-button ng-click="newPostSteps(4)" class="md-primary"
                   ng-disabled="!newPost.toCityId || !newPost.fromCityId || !newPost.transportationId || (!newPost.stuff && !newPost.passanger && !newPost.animal)"><!---->
            Сүүлчийн алхам
        </md-button>
    </div>
</md-content>