<md-dialog aria-label="Creating new post" id="postMore">
    <md-toolbar class="md-accent">
         <span class="md-toolbar-tools">

            <span ng-show="rateStep==1">Холбоо барих мэдээлэл</span>
             <span ng-show="rateStep==2">Үнэлгээ өгөх</span>
            <span flex></span>
            <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </span>
    </md-toolbar>
    <div>
        <div ng-switch="rateStep">
            <div ng-switch-when="1">
                          <div layout="row" flex layout-sm="column" flex
                     ng-class="{carrier_post : contact.type ==='CARRIER', sender_post: contact.type ==='SENDER'}">

                    <md-card-content flex="20" layout="column" layout-align="center center">
                        <div layout="column" layout-align="center center">

                            <img ng-src="ws/profile/image/{{contact.username}}.png"
                                 class="user-male-icon"/>

                            <div class="user_profile_name">{{contact.username}}</div>
                        </div>

                    </md-card-content>
                    <md-card-content flex="65" layout="row" layout-align="center center"
                                     class="post_body"  style="width: 480px">
                        <div layout="column" flex layout-padding layout-align="center start">


                            <div layout="row" layout-padding class="dim-text">
                                <md-icon md-svg-icon="phone"></md-icon>
                                <div class="text">Утас: {{contact.postInfo.phone}}</div>

                            </div>
                            <div layout="row" layout-padding class="dim-text">
                                <md-icon md-svg-icon="mail"></md-icon>
                                <div class="text">Мэйл: {{contact.postInfo.email}}</div>
                            </div>

                        </div>
                    </md-card-content>
                    <md-card-content flex="15" layout="column" layout-align="center center">
                        <div layout="column" layout-align="center center"
                             ng-if="contact.type === 'SENDER'">
                            <div class="post_type_label">ИЛГЭЭХ</div>
                            <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                        </div>

                        <div layout="column" layout-align="center center"
                             ng-if="contact.type === 'CARRIER'">
                            <div class="post_type_label">ТЭЭВЭРЛЭХ</div>
                            <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                        </div>
                        <div layout="column" layout-align="center center">
                            <p class="post_date_label">зар оруулсан</p>

                            <p class="post_date dim-text">{{contact.createdDate}}</p>
                        </div>

                    </md-card-content>
                </div>

                <md-divider></md-divider>
                <div class="md-action" layout="row" layout-padding layout-align="space-between center">

                    <div style=" padding-left: 20px;">
                        <md-icon md-svg-icon="view" style="margin:0;"></md-icon>
                        <span style="padding-left: 8px">{{contact.requestNum}}</span></div>
                    <md-button ng-click="closeDialog()">Гарах</md-button>
                </div>
            </div>
            <div ng-switch-when="2">
                <md-dialog-content class="sticky-container">.
                    <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                        <div layout="row" flex class="{{contact.type}}" style="width:100%">
                            <md-card-content flex="30" layout="column" layout-align="center center"
                                             style="padding: 10px 0; float: left; width: 30%">
                                <img src="image-url" height="80px" width="80px"/>

                                <div>{{contact.username}}</div>
                                <div style="font-size: 9px"> {{contact.postInfo.phone}}</div>
                                <div style="font-size: 9px"> {{contact.postInfo.email}}</div>
                            </md-card-content>
                            <md-card-content flex="55" layout="column" layout-align="center center"
                                             style="padding: 10px 0; float: left; width: 55%" class="body">

                                <div style="text-align: center; font-weight: bold">
                                    Та тохирох үнэлгээгээ өгнө үү
                                </div>
                                <div style="text-align: center">
                                    <div ng-switch="rateScore">
                                        <div ng-switch-when="0">
                                            <a href="#" ng-click="rating(1)">
                                                <md-icon md-svg-icon="star-empty"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(2)">
                                                <md-icon md-svg-icon="star-empty"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(3)">
                                                <md-icon md-svg-icon="star-empty"></md-icon>
                                            </a>
                                        </div>
                                        <div ng-switch-when="1">
                                            <a href="#" ng-click="rating(1)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(2)">
                                                <md-icon md-svg-icon="star-empty"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(3)">
                                                <md-icon md-svg-icon="star-empty"></md-icon>
                                            </a>
                                        </div>
                                        <div ng-switch-when="2">
                                            <a href="#" ng-click="rating(1)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(2)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(3)">
                                                <md-icon md-svg-icon="star-empty"></md-icon>
                                            </a>
                                        </div>
                                        <div ng-switch-when="3">
                                            <a href="#" ng-click="rating(1)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(2)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </a>
                                            <a href="#" ng-click="rating(3)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <md-input-container flex>
                                        <label>Сэтгэгдэл</label>
                                        <textarea ng-model="user.comment" columns="1" md-maxlength="150"
                                                  style="width: 280px;"></textarea>
                                    </md-input-container>
                                </div>
                            </md-card-content>
                            <md-card-content flex="15" layout="column" layout-align="center center"
                                             style="padding: 10px 0; float: left; width: 15%">

                                <div class="md-title md-primary">
                                    <div ng-if="contact.type === 'SENDER'" class="type">
                                        ИЛГЭЭГЧ
                                        <div class="icon"></div>
                                    </div>

                                    <div ng-if="contact.type === 'CARRIER'" class="type">
                                        ТЭЭВЭРЛЭГЧ
                                        <div class="icon"></div>
                                    </div>
                                </div>
                            </md-card-content>
                        </div>

                    </md-whiteframe>
                    <md-divider></md-divider>
                    <md-card-footer layout="row" layout-padding layout-align="space-between center">
                        <div>
                <span style="padding-left: 150px; font-weight:bold; font-size: 15px;">Та <md-icon
                        md-svg-icon="star"></md-icon> {{rateScore}} сонгосон байна</span></div>
                        <md-button ng-click="cancelRate()">Гарах</md-button>
                        <md-button class="md-accent"
                                   ng-click="rateSubmit(contact.id,rateScore,user.comment,contact.username)">Илгээх
                        </md-button>

                    </md-card-footer>
                </md-dialog-content>
            </div>
        </div>
    </div>
</md-dialog>
