<md-dialog aria-label="Sign-in">
    <md-toolbar class="md-accent">
        <span class="md-toolbar-tools">
            <md-icon md-svg-icon="account-key" style="color: white; height: 48px; width: 48px; padding-right: 8px;"></md-icon>
            <span>Валдо сүлжээнд нэвтрэх</span>
            <span flex></span>
            <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
                <md-icon md-svg-icon="close" style="color:white"></md-icon>
            </md-button>
        </span>
    </md-toolbar>

    <section>
        <div layout="row" layout-align="center center">
            <span class="error-text">{{errorMessage}}</span>
        </div>
        <md-content layout="row" layout-sm="column" layout-fill>

            <div layout="row">

                <form method="post" name="loginForm" flex>
                    <div layout="column" layout-align="center center" layout-padding>
                        <div style="color:gray; width: 220px; text-align: center">Хэрэв та манай Валдо сүлжээнд аль
                            хэдийнэ
                            бүртгэлтэй бол:
                        </div>
                        <md-input-container>
                            <label>Нэвтрэх нэр</label>
                            <input ng-model="username" name="username" type="username"
                                   required autofocus>
                        </md-input-container>
                        <md-input-container>
                            <label>Нууц үг</label>
                            <input ng-model="password" name="password" type="password"  required>
                        </md-input-container>
                        <md-button class="md-raised md-button md-ink-ripple" ng-click="signins()"
                                   ng-disabled="!username || !password">Нэвтрэх
                        </md-button>

                    </div>
                </form>
            </div>


            <md-divider></md-divider>
            <div layout="column" layout-align="top" layout-padding style="border-left: 1px solid #bfbfbf">
                <div style="color:gray; width: 255px; text-align: center">Олон нийтийн сүлжээнд бүртгэгдсэн хаягаа
                    ашиглаж орох бол:
                </div>
                <form id="fbSignIn" name="fbSignIn" action="/ws/signin/facebook" method="post">
                    <md-button class="md-raised md-accent" type="submit" style="margin-left: 35px;">
                        <md-icon md-svg-icon="facebook-icon"></md-icon>
                        <span>Facebook-ээр нэвтрэх</span>
                    </md-button>
                </form>

            </div>
        </md-content>
        <md-divider></md-divider>
        <div style="background: #bfbfbf; width: 100%;  height: 48px;">
            <div style="float: right; color:gray">
                Хэрэв та манай сүлжээнд бүртгэлгүй бол:
                <md-button class="md-raised md-hue-1 md-button md-ink-ripple" ng-click="signup()" style="color:rgb(255, 152, 0)">
                    <md-icon md-svg-icon="account-plus" class="orange"></md-icon>
                    БҮРТГҮҮЛЭХ
                </md-button>
            </div>
        </div>

    </section>

</md-dialog>

<!--
<div ng-controller="UserController">
    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 style="color: #000000">Нэвтрэх</h4>
                </div>
                <div class="modal-body">
                    <h3>Та хэрвээ Waldo-д бүртгэлтэй бол нэвтэрч орно уу</h3>
                    <span>{{errorMessage}}</span>
                    <md-input-container flex>
                        <label>Хэрэглэгчийн нэр</label>
                        <input ng-model="username" name="username" type="username" required autofocus>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Нууц үг</label>
                        <input ng-model="password" name="password" type="password" required>
                    </md-input-container>
                    <md-button ng-click="signin()"
                               ng-disabled="!username || !password">Нэвтрэх
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>-->
