<md-dialog aria-label="Creating new post" id="postMore" ng-init="stepExchange = 1">

     <md-toolbar class="md-accent md-raised " ng-if="mpost.type === 'SENDER'">

        <span class="md-toolbar-tools">

            <md-icon md-svg-icon="carrier-icon" style="color: white; height: 40px; width: 40px"
                     ng-if="mpost.type === 'CARRIER'"></md-icon>
            <span style="color: white" ng-if="mpost.type === 'CARRIER'">Тээвэрлэж үйлчлэх зарын дэлгэрэнгүй</span>



            <md-icon md-svg-icon="sender-icon" style="color: white; height: 40px; width: 40px"
                     ng-if="mpost.type === 'SENDER'"></md-icon>
            <span style="color: white" ng-if="mpost.type === 'SENDER'">Илгээх зарын дэлгэрэнгүй</span>


        <span flex></span>
        <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
            <md-icon md-svg-icon="close" style="color:white"></md-icon>
        </md-button>
        </span>
        </md-toolbar>


    <md-toolbar  ng-if="mpost.type === 'CARRIER'">

        <span class="md-toolbar-tools">

            <md-icon md-svg-icon="carrier-icon" style="color: white; height: 40px; width: 40px"
                     ng-if="mpost.type === 'CARRIER'"></md-icon>
            <span style="color: white" ng-if="mpost.type === 'CARRIER'">Тээвэрлэж үйлчлэх зарын дэлгэрэнгүй</span>



            <md-icon md-svg-icon="sender-icon" style="color: white; height: 40px; width: 40px"
                     ng-if="mpost.type === 'SENDER'"></md-icon>
            <span style="color: white" ng-if="mpost.type === 'SENDER'">Илгэх зарын дэлгэрэнгүй</span>


        <span flex></span>
        <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
            <md-icon md-svg-icon="close" style="color:white"></md-icon>
        </md-button>
        </span>
    </md-toolbar>






        <section ng-switch="stepExchange">
            <div ng-switch-when="1" flex>
                <div layout="column" flex>

                    <div layout="row" flex layout-sm="column" flex
                         ng-class="{carrier_post : mpost.type ==='CARRIER', sender_post: mpost.type ==='SENDER'}">

                        <md-card-content flex="15" layout="column" layout-align="center center">
                            <div layout="column" layout-align="center center">
                                <img ng-src="ws/profile/image/{{mpost.username}}.png"
                                     class="user-male-icon"/>

                                <div class="user_profile_name">{{mpost.username}}</div>
                            </div>
                        </md-card-content>
                        <md-card-content flex="70" layout="row" layout-align="center center"
                                         class="post_body" style="width: 470px">
                            <div layout="column" flex layout-padding layout-align="center start">

                                <!--ХӨДЛӨХ ГАЗРЫН ТУХАЙ-->
                                <div layout="row" style="width: 100%; padding-left: 10px">
                                    <div layout="column" flex="50">
                                        <div layout="row"
                                             ng-class="{fromTitle2 : mpost.type ==='CARRIER', toTitle2: mpost.type ==='SENDER'}">
                                            Хөдлөх:
                                        </div>
                                        <div layout="row">
                                            <div layout="row" class="more-css" layout-align="start center">
                                                <md-icon md-svg-icon="from-location"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <span class="post_user_data_text">{{mpost.from }}</span>
                                            </div>
                                        </div>
                                        <div layout="row">

                                            <div layout="row" class="more-css" layout-align="start center">
                                                <md-icon md-svg-icon="calendar-blank"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <div>
                                                    <span class="post_user_data_text  padding-top-5">{{dayAgo(minDate,mpost.when)==0 ? 'Өнөөдөр гарана':dayAgo(minDate,mpost.arrive)+' хоногийн дараа гарана'}}</span>
                                            <span class="post_user_data_text2"
                                                  ng-bind="convertToDate(mpost.when) | date:'(yyyy.MM.dd)'"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div layout="row"
                                             ng-class="{fromTitle2 : mpost.type ==='CARRIER', toTitle2: mpost.type ==='SENDER'}">
                                            Ачаа болон зорчигч:
                                        </div>

                                        <!--PASSNEGER BEGIN-->
                                        <div ng-show="mpost.passanger" layout="row" class="more-txt">
                                            <div>
                                                <md-icon md-svg-icon="passanger"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <span class="post_user_data_text">{{ mpost.passanger }} хүртэлх зорчигч авч явна</span>
                                            </div>
                                        </div>

                                        <!--   <div layout="row" class="more-txt2"
                                                ng-if="!mpost.passanger">
                                               <div layout="row" class="more-css" layout-align="start center">
                                                   <md-icon md-svg-icon="no-passanger"></md-icon>
                                                   <div class="post_user_data_text">Зорчигч авч явахгүй</div>
                                               </div>
                                           </div>-->
                                        <!--PASSENGEr END-->

                                        <!--ANIMAL BEGIN-->
                                        <div layout="row" class="more-txt2" layout-align="start center"
                                             ng-if="mpost.animal">
                                            <div layout="row" class="more-css">
                                                <md-icon md-svg-icon="cow"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <div>{{mpost.animal}}
                                                </div>
                                            </div>
                                        </div>

                                        <!--  <div layout="row" class="more-txt2"
                                               ng-if="!mpost.animal">
                                              <div layout="row" class="more-css" layout-align="start center">
                                                  <md-icon md-svg-icon="no-cow"></md-icon>
                                                  <div>Амьтан авч явахгүй</div>
                                              </div>
                                          </div>-->
                                        <!--ANIMAL END-->

                                        <!--PACKAGE BEGIN-->
                                        <div layout="row" class="more-txt2 " layout-align="start center"
                                             ng-if="mpost.stuff">
                                            <div layout="row" layout-align="start center">
                                                <md-icon md-svg-icon="stuff"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <div class="post_user_data_text">{{mpost.stuff}}
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div layout="row" class="more-txt2 "
                                             ng-if="!mpost.stuff && !mpost.stuff">
                                            <div layout="row" class="more-css" layout-align="start center">
                                                <md-icon md-svg-icon="no-stuff"></md-icon>
                                                <div class="post_user_data_text">Ачаа авч явахгүй</div>
                                            </div>
                                        </div>-->
                                        <!--PACKAGE END-->

                                        <div layout="row"
                                             ng-class="{fromTitle2 : mpost.type ==='CARRIER', toTitle2: mpost.type ==='SENDER'}"
                                             ng-if="mpost.type==='CARRIER'">
                                            Унаа:
                                        </div>

                                        <div layout="row" class="more-txt" ng-if="mpost.type==='CARRIER'">
                                            <div layout="row" class="more-css" layout-align="start center">
                                                <md-icon md-svg-icon="car"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <div>{{mpost.transportation}}</div>
                                            </div>
                                        </div>


                                    </div>

                                    <!--ОЧИХ ГАЗРЫН ТУХАЙ-->
                                    <div layout="column" flex="50">
                                        <div layout="row"
                                             ng-class="{fromTitle2 : mpost.type ==='CARRIER', toTitle2: mpost.type ==='SENDER'}">
                                            Очих:
                                        </div>
                                        <div layout="row">
                                            <div layout="row" class="more-css" layout-align="start center">
                                                <md-icon md-svg-icon="to-location"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <span class="post_user_data_text">{{mpost.to }}</span>
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <div layout="row" class="more-css" layout-align="start center">
                                                <md-icon md-svg-icon="calendar-check"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <div>
                                                    <span class="post_user_data_text  padding-top-5">{{dayAgo(minDate,mpost.arrive)==0 ? 'Өнөөдөр очино':''}}</span>
                                            <span class="post_user_data_text2"
                                                  ng-bind="convertToDate(mpost.arrive) | date:'(yyyy.MM.dd)'"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div layout="row"
                                             ng-class="{fromTitle2 : mpost.type ==='CARRIER', toTitle2: mpost.type ==='SENDER'}">
                                            Тооцоо хийх нөхцөл:
                                        </div>

                                        <div layout="row" class="more-txt2" layout-align="start center">
                                            <div layout="row" class="more-css post_user_data_text"
                                                 layout-align="start center">
                                                <md-icon md-svg-icon="cash" data-ng-show="mpost.policy=='Бэлэн мөнгөөр'"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <md-icon md-svg-icon="no-cash" data-ng-show="mpost.policy=='Үнэгүй'"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <md-icon md-svg-icon="compare" data-ng-show="mpost.policy=='Бартер'"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                <md-icon md-svg-icon="comment" data-ng-show="mpost.policy=='Тохироно'"
                                                         ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}"></md-icon>
                                                {{mpost.policy}}
                                            </div>
                                        </div>


                                        <div layout="row" class="more-txt2" layout-align="start center"
                                             ng-if="mpost.description">
                                            <div>{{mpost.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </md-card-content>
                        <md-card-content flex="15" layout="column" layout-align="start center">
                            <div layout="column" layout-align="center center"
                                 ng-if="mpost.type === 'SENDER'">
                                <div class="post_type_label padding-top-20">ИЛГЭЭХ ЗАР</div>
                                <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                            </div>

                            <div layout="column" layout-align="center center"
                                 ng-if="mpost.type === 'CARRIER'">
                                <div class="post_type_label padding-top-20">ҮЙЛЧЛЭХ ЗАР</div>
                                <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                            </div>
                            <div layout="column" layout-align="center center">
                                <p class="post_date_label">зар бүртгэсэн огноо</p>

                                <p class="post_date dim-text">{{mpost.createdDate}}</p>
                            </div>

                            <div style="text-align: center">
                                <span class="post_user_data_text2">Зарын дугаар</span>
                                <span>{{mpost.id}}</span>
                            </div>

                        </md-card-content>
                    </div>

                    <md-divider
                            ng-class="{borderOrange: mpost.type==='CARRIER', borderBlue: mpost.type==='SENDER'}"></md-divider>

                    <div class="md-action" layout="row" layout-padding layout-align="space-between center">
                        <div>
                            <md-icon md-svg-icon="view"></md-icon>
                            <span>{{mpost.requestNum}}</span>
                        </div>

                        <div>
                         <span ng-show="mpost.alreadyExchange"
                               class="you-contacted" ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}">Зартай холбогдсон</span>
                            <span ng-show="!ownBool" class="you-contacted" ng-class="{orange : mpost.type ==='CARRIER', blue: mpost.type ==='SENDER'}">Таны өөрийн зар байна!</span>
                        </div>

                        <div style="width: 427px; border: 1px solid #E7E7E7; border-radius: 8px"
                             ng-hide="mpost.alreadyExchange || !ownBool">
                            <div layout="column" style="float:left;">
                                <md-checkbox
                                        ng-model="exchangeAgree"
                                        style="width: 275px; line-height: 15px; font-size: 13px;">
                                    Би өөрийн холбоо барих мэдээллээ энэ зарын эзэнтэй солилцохыг зөвшөөрнө
                                </md-checkbox>
                            </div>
                            <div layout="column" style="float:right;">
                                <md-button class="md-accent" style="float: right"
                                           ng-click="exchangePost(mpost.id)"
                                           ng-hide="mpost.alreadyExchange || !ownBool"
                                           ng-disabled="!exchangeAgree">
                                    Холбоо барих
                                </md-button>
                            </div>
                        </div>

                        <md-button ng-click="closeDialog()">Гарах</md-button>
                    </div>


                </div>
            </div>


            <!------------------------------------------------------------------------2---------------------------------->


            <div ng-switch-when="2">
                <div layout-align="center center">
                    <div layout="row" flex layout-sm="column" flex
                         ng-class="{carrier_post : mpost.type ==='CARRIER', sender_post: mpost.type ==='SENDER'}">

                        <md-card-content flex="20" layout="column" layout-align="center center">
                            <div layout="column" layout-align="center center">

                                <img ng-src="ws/profile/image/{{contact.username}}.png"
                                     class="user-male-icon"/>

                                <div class="user_profile_name">{{contact.username}}</div>
                            </div>
                        </md-card-content>
                        <md-card-content flex="65" layout="row" layout-align="center center"
                                         class="post_body">

                            <div layout="column" flex layout-padding layout-align="center start">
                                <div layout="row" flex layout-align="center center"
                                     style="color:red; font-weight: bold;     text-align: center;">
                                    Мэдээлэлэл амжилттай солилцогдож холбогдсон зар хэсэгт бүртгэгдлээ.
                                </div>

                                <div layout="row" layout-padding class="dim-text">
                                    <md-icon md-svg-icon="phone"></md-icon>
                                    <div class="text">Утас: {{contact.phone}}</div>

                                </div>
                                <div layout="row" layout-padding class="dim-text">
                                    <md-icon md-svg-icon="mail"></md-icon>
                                    <div class="text">Мэйл: {{contact.email}}</div>
                                </div>
                            </div>
                        </md-card-content>
                        <md-card-content flex="15" layout="column" layout-align="center center">
                            <div layout="column" layout-align="center center"
                                 ng-if="mpost.type === 'SENDER'">
                                <div class="post_type_label">ИЛГЭЭХ</div>
                                <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                            </div>

                            <div layout="column" layout-align="center center"
                                 ng-if="mpost.type === 'CARRIER'">
                                <div class="post_type_label">ТЭЭВЭРЛЭХ</div>
                                <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                            </div>
                            <div layout="column" layout-align="center center">
                                <p class="post_date_label">зар оруулсан</p>

                                <p class="post_date dim-text">{{mpost.createdDate}}</p>
                            </div>

                        </md-card-content>
                    </div>

                </div>


                <md-divider></md-divider>
                <div layout="row" layout-padding layout-align="space-between center">
                    <div style=" padding-left: 40px;">
                        <md-icon md-svg-icon="view" style="margin:0;"></md-icon>
                        <span style="padding-left: 8px">{{mpost.requestNum}}</span></div>
                    <md-button ng-click="closeDialog()">Гарах</md-button>
                    <!-- <md-button class="md-accent" ng-click="contactedTab()"
                             >Холбогдсон зарлуу шилжих
                     </md-button>-->
                </div>
            </div>
        </section>
</md-dialog>