<md-dialog aria-label="Creating new post" id="postMore" ng-init="stepExchange = 1">
    <md-toolbar class="md-accent">
        <span class="md-toolbar-tools">
            <span> Зарын дэлгэрэнгүй</span>
        <span flex></span>
        <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
            <md-icon md-svg-icon="close"></md-icon>
        </md-button>
            </span>
    </md-toolbar>
    <section ng-switch="stepExchange">
        <div ng-switch-when="1" flex>
            <div layout="column" flex>

                <div layout="row" flex layout-sm="column" flex
                     ng-class="{carrier_post : mpost.type ==='CARRIER', sender_post: mpost.type ==='SENDER'}">

                    <md-card-content flex="20" layout="column" layout-align="center center">
                        <div layout="column" layout-align="center center">

                            <img ng-src="ws/profile/image/{{mpost.username}}.png"
                                 class="user-male-icon"/>

                            <div class="user_profile_name">{{mpost.username}}</div>
                        </div>

                    </md-card-content>
                    <md-card-content flex="65" layout="row" layout-align="center center"
                                     class="post_body"  style="width: 480px">
                        <div layout="column" flex layout-padding layout-align="center start">
                            <div layout="row" class="post-title">
                                <div ng-if="mpost.type==='CARRIER'">
                                    АЧАА ТЭЭВЭРЛЭНЭ: <span class="title-red">{{mpost.policy}}</span>
                                </div>
                                <div ng-if="mpost.type==='SENDER'">
                                    АЧАА ТЭЭВЭРЛҮҮЛНЭ: <span class="title-red">{{mpost.policy}}</span>
                                </div>
                            </div>

                            <div ng-show="mpost.passanger" layout="row"  class="more-txt">
                                <div>
                                    <md-icon md-svg-icon="passenger"></md-icon>
                                    <span>ЗОРЧИГЧ: {{ mpost.passanger }}</span>
                                </div>
                            </div>


                            <!--ХӨДЛӨХ ГАЗРЫН ТУХАЙ-->
                            <div layout="row" style="width: 480px">
                                <div layout="column" flex="50">
                                    <div layout="row" class="fromTitle">
                                        ХӨДЛӨХ ГАЗАР
                                    </div>
                                    <div layout="row">
                                        <span class="post_user_data_text2">{{mpost.from }}</span>
                                    </div>
                                    <div layout="row">
                                         <span class="post_user_data_text2"
                                               ng-bind="convertToDate(mpost.when) | date:'yyyy.MM.dd'"></span>
                                    </div>

                                </div>

                                <!--ОЧИХ ГАЗРЫН ТУХАЙ-->
                                <div layout="column" flex="50">
                                    <div layout="row" class="toTitle">
                                        ОЧИХ ГАЗАР
                                    </div>
                                    <div layout="row">
                                        <span class="post_user_data_text2">{{mpost.to }}</span>
                                    </div>
                                    <div  layout="row">
                                        <span class="post_user_data_text2"
                                              ng-bind="convertToDate(mpost.arrive) | date:'yyyy.MM.dd'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-content flex="15" layout="column" layout-align="center center">
                        <div layout="column" layout-align="center center"
                             ng-if="mpost.type === 'SENDER'">
                            <div class="post_type_label">ИЛГЭЭХ</div>
                            <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                        </div>

                        <div layout="column" layout-align="center center"
                             ng-if="mpost.type === 'CARRIER'">
                            <div class="post_type_label">ТЭЭВЭРЛЭХ</div>
                            <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                        </div>
                        <div layout="column" layout-align="center center">
                            <p class="post_date_label">зар оруулсан</p>

                            <p class="post_date dim-text">{{mpost.createdDate}}</p>
                        </div>

                    </md-card-content>
                </div>
                <md-divider></md-divider>
                <div class="md-action" layout="row" layout-padding layout-align="space-between center">
                    <div>
                        <md-icon md-svg-icon="view"></md-icon>
                        <span>{{mpost.requestNum}}</span></div>


                    <md-checkbox ng-hide="mpost.alreadyExchange"
                                 ng-model="exchangeAgree" ng-show="!ownBool">
                        Би өөрийн холбоо барих мэдээллийг явуулахыг зөвшөөрч байна
                    </md-checkbox>

                    <span ng-show="mpost.alreadyExchange" class="you-contacted">Та Энэ зартай холбогдсон байна!</span>

                    <div>
                        <md-button class="md-accent"
                                   ng-click="exchangePost(mpost.id)"
                                   ng-hide="mpost.alreadyExchange"
                                   ng-disabled="!exchangeAgree" ng-show="!ownBool">
                            Холбоо барих
                        </md-button>
                        <md-button ng-click="closeDialog()">Гарах</md-button>
                    </div>
                </div>


            </div>
        </div>







        <!------------------------------------------------------------------------2---------------------------------->










        <div ng-switch-when="2">
            <md-dialog-content>
                <div class="md-whiteframe-z2" layout layout-align="center center">
                    <div layout="row" flex layout-align="center center" style="color:red; font-weight: bold">
                        Мэдээлэлэл амжилттай солилцогдож холбогдсон зар хэсэгт бүртгэгдлээ.
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" flex layout-sm="column" flex
                         ng-class="{carrier_post : mpost.type ==='CARRIER', sender_post: mpost.type ==='SENDER'}">

                        <md-card-content flex="20" layout="column" layout-align="center center">
                            <div layout="column" layout-align="center center">

                                <img ng-src="ws/profile/image/{{contact.username}}.png"
                                     class="user-male-icon"/>

                                <div class="user_profile_name">{{contact.username}}</div>
                            </div>

                        </md-card-content>
                        <md-card-content flex="65" layout="row" layout-align="center center"
                                         class="post_body">
                            <div layout="column" flex layout-padding layout-align="center start">


                                <div layout="row"  class="more-txt">
                                    <div>
                                        <md-icon md-svg-icon="passenger"></md-icon>
                                        <span>ЗОРЧИГЧ: {{ contact.email }}</span>
                                    </div>
                                </div>

                                <div layout="row"  class="more-txt">
                                    <div>
                                        <md-icon md-svg-icon="passenger"></md-icon>
                                        <span>ЗОРЧИГЧ: {{ contact.phone }}</span>
                                    </div>
                                </div>

                            </div>
                        </md-card-content>
                        <md-card-content flex="15" layout="column" layout-align="center center">
                            <div layout="column" layout-align="center center"
                                 ng-if="contact.type === 'SENDER'">
                                <div class="post_type_label">ИЛГЭЭХ</div>
                                <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                            </div>

                            <div layout="column" layout-align="center center"
                                 ng-if="contact.type === 'CARRIER'">
                                <div class="post_type_label">ТЭЭВЭРЛЭХ</div>
                                <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                            </div>
                            <div layout="column" layout-align="center center">
                                <p class="post_date_label">зар оруулсан</p>

                                <p class="post_date dim-text">{{contact.createdDate}}</p>
                            </div>

                        </md-card-content>
                    </div>



           <!--         <div layout="column" flex>
                        <div layout="row" flex layout-align="center center" style="color:red; font-weight: bold">
                            Мэдээлэлэл амжилттай солилцогдож холбогдсон зар хэсэгт бүртгэгдлээ.
                        </div>
                        <div layout="row" flex class="{{mpost.type}}">
                            <md-card-content flex="20" layout="column" layout-align="center center"
                                             style="width: 20%; float: left"
                                             style="padding: 10px 0;">
                                <img ng-src="ws/profile/image/{{contact.username}}.png"
                                     style="height: 70px; width: 70px"/>

                                <div style="word-wrap: break-word; max-width: 104px">{{contact.username}}</div>

                                &lt;!&ndash;    <div ng-if="contact.rate===null">
                                        <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                    </div>
                                    <div ng-if="contact.rate==1">
                                        <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                    </div>
                                    <div ng-if="contact.rate==2">
                                        <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                    </div>
                                    <div ng-if="contact.rate==3">
                                        <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                        <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                    </div>&ndash;&gt;

                            </md-card-content>


                            <md-card-content layout="column" flex="20" layout-align="start center" class="body"
                                             style="width: 20%; float: left">
                                <div layout="row" layout-padding class="dim-text" style="padding-top: 25px;">
                                    <md-icon md-svg-icon="phone"></md-icon>
                                    <div class="text">Утас:</div>
                                </div>
                                <div layout="row" layout-padding class="dim-text">
                                    <md-icon md-svg-icon="mail"></md-icon>
                                    <div class="text">Мэйл:</div>
                                </div>

                            </md-card-content>
                            <md-card-content layout="column" flex="40" class="body" style="width: 40%; float: left">
                                <div layout="row" layout-padding class="dim-text" style="min-height: 28px;   padding-top: 30px;
}">
                                    {{contact.phone}}
                                </div>
                                <div layout="row" layout-padding class="dim-text" style="min-height: 28px;   padding-top: 5px;
}">
                                    {{contact.email}}
                                </div>

                            </md-card-content>
                            <md-card-content layout="column" flex="20" style="padding-top: 30px"
                                             style="width: 20%; float: left">
                                <div class="md-title md-primary">
                                    <div ng-if="mpost.type === 'SENDER'" class="type">
                                        ИЛГЭЭГЧ
                                        <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                                    </div>

                                    <div ng-if="mpost.type === 'CARRIER'" class="type">
                                        ТЭЭВЭРЛЭГЧ
                                        <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                                    </div>
                                </div>
                                <div class="dimmest-text">{{contact.createdDate}}</div>
                                <div class="dimmest-text">{{contact.createdTime}}</div>
                            </md-card-content>
                        </div>
                        &lt;!&ndash;    <div layout="row" flex ng-if="contact.postInfo.rates!=null">
                                <div ng-if="ratePost.postInfo.rates.length>=2" flex>
                                    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" flex="47"
                                                   style="background: #fbfbfb; margin: 8px; padding: 8px;">
                                        <div layout="column" flex>
                                            <div layout="row" flex>
                                                Үнэлгээ:
                                                <div ng-if="contact.postInfo.rates[0].rate==null">
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[0].rate==1">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[0].rate==2">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty"  class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[0].rate==3">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                </div>
                                            </div>
                                            <div layout="row" flex style="padding-top: 3px;">
                                                {{contact.postInfo.rates[0].comment}}
                                            </div>
                                            <div layout="row" flex layout-align="end center">
                                                <img ng-src="ws/profile/image/{{contact.username}}.png"
                                                     class="mini-profile-image"> {{contact.postInfo.rates[0].rateAccountName}}
                                            </div>
                                        </div>
                                    </md-whiteframe>

                                    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" flex="47"
                                                   style="background: #fbfbfb; margin: 8px; padding: 8px;">
                                        <div layout="column" flex>
                                            <div layout="row" flex>
                                                Үнэлгээ:
                                                <div ng-if="contact.postInfo.rates[1].rate==null">
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[1].rate==1">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[1].rate==2">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty"  class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[1].rate==3">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                </div>
                                            </div>
                                            <div layout="row" flex style="padding-top: 3px;">
                                                {{contact.postInfo.rates[1].comment}}
                                            </div>
                                            <div layout="row" flex layout-align="end center">
                                                <img ng-src="ws/profile/image/{{contact.username}}.png"
                                                     class="mini-profile-image"> {{contact.postInfo.rates[1].rateAccountName}}
                                            </div>
                                        </div>
                                    </md-whiteframe>
                                </div>
                                <div ng-if="ratePost.postInfo.rates.length=1" flex>
                                    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" flex="95"
                                                   style="background: #fbfbfb; margin: 8px;  padding: 8px;">
                                        <div layout="column" flex>
                                            <div layout="row" flex>
                                                Үнэлгээ:
                                                <div ng-if="contact.postInfo.rates[0].rate==null">
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[0].rate==1">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty" class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[0].rate==2">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star-empty"  class="mini-star"></md-icon>
                                                </div>
                                                <div ng-if="contact.postInfo.rates[0].rate==3">
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                    <md-icon md-svg-icon="star" class="mini-star"></md-icon>
                                                </div>
                                            </div>
                                            <div layout="row" flex style="padding-top: 3px;">
                                                {{contact.postInfo.rates[0].comment}}
                                            </div>
                                            <div layout="row" flex layout-align="end center">
                                                <img ng-src="ws/profile/image/{{contact.username}}.png"
                                                     class="mini-profile-image"> {{contact.postInfo.rates[0].rateAccountName}}
                                            </div>
                                        </div>
                                    </md-whiteframe>
                                </div>
                            </div>&ndash;&gt;

                    </div>-->

                </div>


                <md-divider></md-divider>
                <div layout="row" layout-padding layout-align="space-between center">
                    <div style=" padding-left: 20px;">
                        <md-icon md-svg-icon="view" style="margin:0;"></md-icon>
                        <span style="padding-left: 8px">{{mpost.requestNum}}</span></div>
                    <md-button ng-click="closeDialog()">Гарах</md-button>
                    <!-- <md-button class="md-accent" ng-click="contactedTab()"
                             >Холбогдсон зарлуу шилжих
                     </md-button>-->

                </div>
            </md-dialog-content>
        </div>
    </section>
</md-dialog>