<md-dialog aria-label="Creating new post" data-ng-controller="NewPostController">
    <md-toolbar class="add-ads" style="color: white;">

         <span class="md-toolbar-tools">
            <span>
                <span ng-show="step === 2 || step === 4">
                    <md-icon md-svg-icon="carrier-icon" class="new_post_dialog_icon"></md-icon>
                    ШИНЭ ҮЙЛЧЛЭХ
                </span>
                <span ng-show="step === 3 || step === 5">
                    <md-icon md-svg-icon="sender-icon" class="new_post_dialog_icon"></md-icon>
                    ШИНЭ ИЛГЭЭХ
                </span>
                 ЗАР НЭМЭХ</span>
            <span flex></span>
            <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
                <md-icon md-svg-icon="close" style="color:white"></md-icon>
            </md-button>
        </span>


    </md-toolbar>

    <md-dialog-content class="sticky-container">
        <section layout="row" layout-padding layout-align="space-around center" style="padding: 8px;">
            <!--========================================= STEPS INDICATION ===============================================-->
            <div ng-class="{new_post_active : step ===1, new_post_done: step > 1}">
                <span class="step_number">1</span>
                <span class="step_text">Зарын төрөл</span>
            </div>
            <div ng-class="{new_post_inactive: step <3, new_post_active : step ===2 || step ===3, new_post_done: step > 3}">
                <span class="step_number">2</span>
                <span class="step_text">Зарын мэдээлэл</span>
            </div>
            <div ng-class="{new_post_inactive: step <4, new_post_active : step ===4 || step ===5}">
                <span class="step_number">3</span>
                <span class="step_text">Нягтлан шалгах</span>
            </div>
        </section>
        <md-progress-linear class="progress-color" md-mode="determinate"
                            value="{{newPostProgress}}"></md-progress-linear>

        <section>
            <form name="newPostForm" novalidate>
                <div ng-switch="step">
                    <!--========================================= TYPE FORM ===============================================-->
                    <div ng-switch-when="1">
                        <md-content layout="column" layout-fill>
                            <div class="createPostChoose">

                                <md-radio-group ng-model="newPost.type" flex ng-init="adsType(newPost.type)">
                                    <md-radio-button value="CARRIER" class="md-primary text-center"
                                                     ng-click="adsType('CARRIER')" style="margin:0">
                                        <md-icon md-svg-icon="carrier-icon" class="carrierIcon"></md-icon>
                                        <span class="ads-text1">ҮЙЛЧЛЭХ ЗАР</span>
                                    </md-radio-button>
                                    <div style="width: 100%; text-align: center; color: gray;">
                                        <div style="width: 300px; margin: auto"  style="margin:0">
                                            Ачаа бараа болон амьтан эсбэл нэмэлт зорчигч тээвэрлэж үйлчлэх зар
                                        </div>
                                    </div>
                                    <md-radio-button value="SENDER" class="md-accent text-center"
                                                     ng-click="adsType('SENDER')" style="margin:0">
                                        <md-icon md-svg-icon="sender-icon" class="senderIcon"></md-icon>
                                        <span class="ads-text2">ИЛГЭЭХ ЗАР</span>
                                    </md-radio-button>
                                    <div style="width: 100%; text-align: center;     color: gray;">
                                        <div style="width: 300px;  margin: auto">
                                            Эд материал болон амьтан илгээх эсбэл нэмэлт зорчигчоор дайгдах зар үүсгэх
                                        </div>

                                    </div>
                                </md-radio-group>
                            </div>
                            <div layout="row" layout-align="end center" layout-margin>
                                <md-button ng-click="closeDialog()">Цуцлах</md-button>
                                <md-button ng-click="stepChange(newPost.type)" class="nextButton"
                                           ng-disabled="!newPost.type">Дараагийн алхам
                                </md-button>
                            </div>
                        </md-content>
                    </div>
                    <!--========================================= CARRIER FORM ===============================================-->
                    <div ng-switch-when="2">
                        <ng-include src="'src/modules/dialogs/carrier/post-input.client.view.html'"></ng-include>
                    </div>
                    <!--========================================= SENDER FORM ===============================================-->
                    <div ng-switch-when="3">
                        <ng-include src="'src/modules/dialogs/sender/post-input.client.view.html'"></ng-include>
                    </div>
                    <!--============================ CARRIER REVIEW STEP =====================================-->
                    <div ng-switch-when="4">
                        <ng-include
                                src="'src/modules/dialogs/carrier/post-review.client.view.html'"></ng-include>
                    </div>
                    <!--============================ SENDER REVIEW STEP =====================================-->
                    <div ng-switch-when="5">
                        <ng-include src="'src/modules/dialogs/sender/post-review.client.view.html'"></ng-include>

                    </div>
                </div>

            </form>
        </section>
    </md-dialog-content>
</md-dialog>

