<md-dialog aria-label="Profile">
    <md-toolbar class="md-accent">
        <span class="md-toolbar-tools">
            <md-icon md-svg-icon="account"></md-icon>
            <span>Мэдээлэл шинчилэх</span>
            <span flex></span>
            <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </span>
    </md-toolbar>
    <md-dialog-content>
        <section>
            <md-content>
                <form method="post" name="profile" enctype="multipart/form-data" flex>
                    <div layout="row">
                        <div flex="30" flex-sm="30" class="edit-profile">
                            <img ng-src="ws/profile/image/{{pro.username}}.png?s={{imageDate}}"
                                 class="edit-photo"/>
                            <center>{{pro.username}}</center>
                            <input id="image" type="file" name="file" style="position:fixed;top:-100px;"
                                   onchange="angular.element(this).scope().uploadImage(this.files)"
                                   style="padding-top: 26px;" title=""/>
                            <button id="image_alt" type="button" onclick="document.getElementById('image').click();">
                                Зураг сонгох
                            </button>
                        </div>
                        <md-divider></md-divider>

                        <div flex="70" flex-sm="70">
                            <md-input-container>
                                <label>Овог</label>
                                <input ng-model="pro.firstname" name="firstname" type="text" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Нэр</label>
                                <input ng-model="pro.lastname" name="lastname" type="text" required>
                            </md-input-container>

                            <md-input-container>
                                <label>Утас</label>
                                <input ng-model="pro.phone" name="phone" type="tel" required>
                            </md-input-container>
                            <md-input-container>
                                <label>И-мэйл</label>
                                <input ng-model="pro.email" name="email" type="email" required>
                            </md-input-container>
                            <!--<md-input-container layout-fill>
                                <label>Хуучин нууц үг</label>
                                <input ng-model="pro.oldPassword" name="oldPassword" type="password">
                            </md-input-container>
                            <md-input-container layout-fill>
                                <label>Шинэ нууц үг</label>
                                <input ng-model="pro.newPassword" name="password" type="password" min="4"
                                       ng-disabled="!pro.oldPassword">
                            </md-input-container>
                            <md-input-container layout-fill>
                                <label>Шинэ нууц үг давтах</label>
                                <input ng-model="pro.confirmPassword" name="pro" type="password" min="4"
                                       ng-disabled="!pro.oldPassword"
                                        >
                            </md-input-container>-->


                        </div>
                    </div>
                    <div class="row right padding-top-5">
                        <md-button ng-click="closeDialog()" class="md-raised md-button md-ink-ripple">
                            Гарах
                        </md-button>
                        <md-button ng-click="updateProfile()" class="md-raised md-accent md-button md-default-theme"
                                   ng-disabled="pro.newPassword!=pro.confirmPassword">
                            Шинчилэх
                        </md-button>
                    </div>
                </form>
            </md-content>
        </section>
    </md-dialog-content>
</md-dialog>