<md-dialog aria-label="Sign-un" ng-controller="SignUpController">
    <md-toolbar class="md-accent">
        <span class="md-toolbar-tools">
            <md-icon md-svg-icon="account"></md-icon>
            <span>Хэрэглчийн бүртгэл</span>
            <span flex></span>
            <md-button ng-click="close()" aria-label="Close" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </span>
    </md-toolbar>
    <md-dialog-content>
        <section>
            <md-content layout="row" flex style="width:700px;">
                <form method="post" name="loginForm" data-ng-hide="formHide">
                    <div layout="row" layout-sm="column" flex>
                        <div>{{errorMessage}}</div>
                        <div layout="row" flex>
                            <div layout="column" style="width:175px;">
                                <md-input-container>
                                    <label>Хэрэглэгчийн нэр</label>
                                    <input ng-model="register.username" name="username" type="text" required autofocus>
                                </md-input-container>
                                <md-input-container>
                                    <label>Нэр</label>
                                    <input ng-model="register.firstname" name="firstname" type="text" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Овог</label>
                                    <input ng-model="register.lastname" name="lastname" type="text" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Гар утас</label>
                                    <input ng-model="register.phone" name="phone" type="number" required>
                                </md-input-container>
                            </div>
                            <divider></divider>
                            <div layout="column" style="width:175px;">
                                <md-input-container>
                                    <label>И-мэйл</label>
                                    <input ng-model="register.email" name="email" type="email" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>И-мэйл баталгаажуулах</label>
                                    <input ng-model="register2.email_confirm" name="email_confirm" type="email"
                                           required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Нууц үг</label>
                                    <input ng-model="register.password" name="password" type="password" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Нууц үг давтах</label>
                                    <input ng-model="register2.password_confirm" name="password_confirm" type="password"
                                           required>
                                </md-input-container>
                            </div>
                            <div layout="column" style="width: 347px; height: 200px;  overflow: auto; font-size: 11px; padding-left: 3px">
                                <h2>Валдо сүлжээ гэж юу вэ?</h2>

                                <p>Валдо сүлжээ нь ачаа бараа илгээх хүсэлтэй, эсвэл ямар нэг чиглэл явахаар унаа
                                    хайж буй хувь хүн болон нөгөө талаас ачааг зөөвөрлөж үйлчилгээ үзүүлэгч нэг
                                    нэгнээ олох, зар үүсгэж, өөр хооронд нь холбож өгөх зориулалттай. Валдо сүлжээ
                                    нь үйлчилгээ үзүүлсэний хөлсийг төлөх төлбөр тооцоо, зөвшилцөлийг хариуцахгүй.
                                    Хэрэглэгч (ачаа бараа илгээч, зорчин явагч эсбэл зөөвөрлөх үйлчилгээ үзүүлэгч)
                                    өөр хоорондоо үйлчилгээний хөлс болон зөвшилцөлөө тохирно.
                                </p>

                                <h3>Үйлчилгээний дүрэм:</h3>
                                <h4>Валдо сүлжээг ашиглаж эхэлсэнээс энэхүү нөхцөлүүдийг Та зөвшөөрнө </h4>
                                <ul>
                                    <li>Вэбийг ашиглахдаа дараах үзүүлүүдийг та зөвшөөрнө: Одоо мөрдөгдөж буй хуулийн
                                        дагуу, вэбийг сайтыг ашигласанаас үүдсэн шууд болон шууд бус гэмтэл, алдагдлыг
                                        бид хариуцахгүй. Хэрвээ хуулийн дагууд ямар нэг үндэслэлтэйгээр нэхэмжлэл хүсвэл
                                        хувь хүнд дээд тал нь 100 ам доллартай тэмцэх хэмжээнд хохирлыг барагдуулна.
                                    </li>
                                    <li>Валдоо сүжээг ашиглагч хоёр тал өөр хоорондийн тохиролцоо болон гүйлгээг бүрэн
                                        өөрөө өөрсдийн хариуцлагаа үүрэхээр гүйцэтгэнэ
                                        all interactions through Waldo are the sole response
                                    </li>
                                    <li>Валдо нь өөрийн сүлжээнд байрших заруудыг сонгох элбэл зар хоорондын уялдааг
                                        удирдахгүй, мөн хэрлэгчдийн өмнөөс хариуцлага хүлээхгүй, Бид өөрийн эрхтэй ч,
                                        ямар үүрэг хүлээгээгүй болно. Үүнээс үүдэн ямар ч хэрэглэгчид уридчилсан
                                        сануулахгүйгээр үйлчилгээ үзүүлэхээр түдгэлзэж болно.
                                    </li>
                                    <li>Валдо вэб сайтын дотоод агуулга, үзэл санаа, загвар дизайн хуулийн эрхийн дагуу
                                        хуулбарлах олшруулахаас хамгаалсан, худалдааны тэмдэг бүтгэл, оюуны өмчөөр
                                        баталгаажсан болно. Хэрвээ та вэб сайтад нэвтэрч хэрэглэх эрхээр батгаалжсан бол
                                        ямарч хэлбэрээр Валдо вэб сайтаас хуулбарлахыг хориглоно.
                                    </li>
                                    <li>Мөн та зар үүсгэхдээ худал хуурмаг, хууль бус, бусдад хэрэглэгчдэд хохирол
                                        учруулахаар үүсгэж болохгүй, Валдо сүлжээ болон түүнийг ашиглагчдад хууль бус,
                                        хохирол учируулахаар ямар үйлдлийг хийхийг хориглоно,
                                    </li>
                                    <li>Вэб сайт дээрхи мэдээллүүдийг та хүлээн авах, ашиглахдаа та өөрөө хариулагаа
                                        үүрнэ, Бид таны оруулсан зар, мэдээллийг хуулбарлах, олон нийтэд түгээх, нэмэлт
                                        өөрчлөлт хийх эсбал орчуулж нэгдсэн сандаа оруулж болзошгүй,
                                    </li>
                                    <li>Бид таны болон таны оруулсан зар, мэдээллийг хамртан ажиллаж буй хөндлөнгийн
                                        байгууллагат хуваалцах магадлалтай, Хэрэв шаардлагатай гэж үзвэл таны мэдээллийг
                                        хуулийн дагууд хуулийн этгээдүүдэд дамжуулах магадлалтай, Бид Таны мэдээлэлтэй
                                        холбоотой хэсгийг магадлалтай гэдэг үүднээс оруулсан, гэсэн ч хэнийч өмнө үүрэг
                                        хүлээгээгүй болно. Таны мэдээллийг дамжуулахдаа өөрсдийн болон Валдо сүлжээ
                                        ашиглагчдын эрх, өмч, аюулгүй байдлыг харалзан үзэж шийдвэр гаргана.
                                    </li>
                                    <li>Хэн нь тодорхойлогдохооргүй(вэб сайтад элсэж эсбал нэвтэрч ороогүй) зочидын
                                        мэдээллийг Маркетинг болон зар сурталчилгаа, бусад зориулалтаар хөндлөгийг
                                        этгээдүүдэтэй хуваалцах магадлалатай.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div  layout="row" flex>
                        <md-button  layout="column" flex="20" ng-click="saveSignup()"
                                    class="btn btn-lg  btn-block btn-success"
                                    ng-disabled="register.password !=register2.password_confirm || register.email!=register2.email_confirm || !register.username || !register.firstname || !register.email || !register.phone || !register.password || data.cb2!='ЗӨВШӨӨРЧ'">
                            Бүртгүүлэх
                        </md-button>
                        <md-checkbox flex="80"  layout="column"
                                     ng-model="data.cb2"
                                     aria-label="Checkbox 2"
                                     ng-true-value="'ЗӨВШӨӨРЧ'"
                                     ng-false-value="'ЗӨВШӨӨРӨХГҮЙ'"
                                     class="md-warn md-align-top-left">
                            <span> Веб сайт ашиглах журам-ыг {{ data.cb2 }} байна</span>
                        </md-checkbox>
                    </div>

                </form>
                <div layout="column" layout-align="space-around center" data-ng-show="formHide">
                    {{register.username}}
                    <div>Сайн байна уу</div>
                    <div>WALDO програмд бүртгүүлсэнд баярлалаа</div>
                    <md-button ng-click="close()" class="btn btn-lg  btn-block btn-success">Хаах</md-button>
                </div>
            </md-content>


        </section>
    </md-dialog-content>
</md-dialog>