<md-dialog aria-label="Sign-un" ng-controller="UserController">
    <md-toolbar class="md-accent">
        <span class="md-toolbar-tools">
            <md-icon md-svg-icon="account"></md-icon>
            <span>Хэрэглчийн бүртгэл</span>
            <span flex></span>
            <md-button ng-click="closeDialog()" aria-label="Close" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </span>
    </md-toolbar>
    <md-dialog-content>
        <section>
            <md-content layout="row" flex style="width:700px;">
                <form method="post" name="loginForm" data-ng-hide="formHide">
                    <div layout="row" layout-sm="column" flex>
                        <div>{{errorMessage}}</div>
                        <div layout="row" flex>
                            <div layout="column" style="width:175px;">
                                <md-input-container>
                                    <label>Хэрэглэгчийн нэр</label>
                                    <input ng-model="register.username" name="username" type="text" required autofocus>
                                </md-input-container>

                                <md-input-container>
                                    <label>Овог</label>
                                    <input ng-model="register.lastname" name="lastname" type="text" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Нэр</label>
                                    <input ng-model="register.firstname" name="firstname" type="text" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Гар утас</label>
                                    <input ng-model="register.phone" name="phone" type="number" required>
                                </md-input-container>
                            </div>
                            <divider></divider>
                            <div layout="column" style="width:175px;">
                                <md-input-container>
                                    <label>И-мэйл</label>
                                    <input ng-model="register.email" name="email" type="email" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>И-мэйл баталгаажуулах</label>
                                    <input ng-model="register2.email_confirm" name="email_confirm" type="email"
                                           required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Нууц үг</label>
                                    <input ng-model="register.password" name="password" type="password" required>
                                </md-input-container>
                                <md-input-container>
                                    <label>Нууц үг давтах</label>
                                    <input ng-model="register2.password_confirm" name="password_confirm" type="password"
                                           required>
                                </md-input-container>
                            </div>
                            <div layout="column"
                                 style="width: 347px; height: 200px;  overflow: auto; font-size: 11px; padding-left: 3px;     text-align: justify;; padding-right: 10px">
                                <h3>Үйлчилгээний нөхцөл:</h3>
                                <h4>1. Ерөнхий заалт</h4>
                                <span>
                                    Валдо сүлжээ нь ачаа бараа, мал амьтан илгээх болон зөөвөрлөх хүсэлтэй, эсвэл тодорхой нэг чиглэлд унаа хайж буй хүмүүсийг зар үүсгэн, хувь хүн болон тээврийн үйлчилгээ үзүүлэгчдийг хооронд нь холбож өгөх зориулалттай, бөгөөд энэхүү нөхцөл нь уг вэб хуудсыг эзэмшигч байгууллага болон хэрэглэгчтэй холбоотой үүсэх харилцааг зохицуулахад оршино
                                </span>
                                <ul>
                                    <li>Энэхүү нөхцөл нь хэрэглэгч вэб хуудсыг гишүүнээр бүртгүүлэхээсээ өмнө сайтар
                                        уншиж танилцаж, хүлээн зөвшөөрч баталгаажуулсны үндсэн дээр хэрэгжинэ.
                                    </li>
                                    <li>Энэхүү үйлчилгээний нөхцөлийн хэрэгжилтэд Валдо сүлжээ /цаашид байгууллага гэх/
                                        болон хэрэглэгч /цаашид хэрэглэгч гэх/ хамтран хяналт тавина.
                                    </li>
                                </ul>

                                <h4>2. Үйлчилгээ</h4>
                                <ul>
                                    <li>Хэрэглэгч нь 18 ба түүнээс дээш настай эрх зүйн бүрэн чадвар, чадамжтай иргэн,
                                        хуулийн этгээд байна.
                                    </li>
                                    <li>Хэрэглэгч өөрөө (ачаа бараа илгээгч, зорчин явагч, болон тээвэрлэх үйлчилгээ
                                        үзүүлэгч) өөр хоорондоо үйлчилгээний хөлс болон бусад нөхцөлөө зөвшилцлийн
                                        үндсэн дээр тохирно.
                                    </li>
                                    <li>Валдо сүлжээ нь үйлчилгээ үзүүлсэнтэй холбоотойгоор үүссэн аль ба нэг төлбөр
                                        тооцоо болон хэрэглэгч хоорондын зөвшилцөл дээр харсан ямар нэг маргаанд
                                        хариуцлага хүлээхгүй.
                                    </li>
                                    <li>Одоо мөрдөгдөж буй холбогдох хууль тогтоомжийн дагуу, шууд болон шууд бус
                                        гэмтэл, хор уршиг, алдагдлыг бид хариуцахгүй болно. Хэрэв энэ вэб хуудсыг
                                        ашигласнаас үүдсэн болон ашиглалттай холбоотой хариуцлагыг бид хуулийн дагуу,
                                        үндэслэлтэйгээр, тус хэрэглэгчид 50,000 төгрөгтэй тэнцэх хэмжээнд хохирлыг
                                        барагдуулна.
                                    </li>
                                    <li>Валдо сүлжээний хэрэглэгч талуудын өөр хоорондын тохиролцоо болон төлбөр
                                        тооцоотой холбоотой түүнд хамаарах ямар нэг банк хоорондын гүйлгээний үүсэх
                                        хариуцлагаа зөвхөн хэрэглэгч өөрсдөө бүрэн хариуцна.
                                    </li>
                                    <li>Валдо сүлжээ нь өөрийн сүлжээнд байрших заруудыг сонгон судлах болон зар
                                        хоорондын харилцааг удирдахгүй бөгөөд хэрэглэгчдийн өмнөөс хариуцлага хүлээхгүй
                                        болно.
                                    </li>
                                    <li>Бид урьдчилан мэдэгдэхгүйгээр хэнд ч үйлчилгээ үзүүлэхээс татгалзах бүрэн эрхтэй
                                        мөн энэ үйлдэлдээ нэгэн нэгэн хариуцлага хүлээхгүй болно.
                                    </li>
                                    <li>Валдо сүлжээ вэб хуудсын нэр, дотоод агуулга, үзэл санаа болон загвар дизайн нь
                                        Валдо сүлжээний өмч бөгөөд, хууль эрхийн дагуу зохиогчийн эрх, худалдааны
                                        бүртгэл тэмдэг болон патент нь оюуны өмчийн хуулиар хамгаалагдсан болно. Та
                                        энэхүү вэб хуудсыг ашиглах эрхтэй ч, Валдо сүлжээг ямар нэгэн байдлаар эсвэл
                                        хэлбэрээр хуулбарлахыг хатуу хориглоно.
                                    </li>
                                    <li>Та ямар ч нөхцөлд Валдо сүлжээ болон түүний хэрэглэгчдэд худал хуурмаг, хууль
                                        бус, болон бусдад хохирол учруулах зар сурталчилгаа үүсгэж болохгүй. Мөн Валдо
                                        сүлжээ болон түүний хэрэглэгчдэд хууль бус, хохирол учруулахаар үйлдэл хийхийг
                                        хатуу хориглоно.
                                    </li>
                                    <li>Вэб хуудас дээрх таны ашиглаж буй мэдээллүүд таны өөрийн эрсдэл байх бөгөөд бид
                                        тухайн мэдээллийг хуулбарлах, олон нийтэд түгээх, өөрчлөлт оруулах эсвэл орчуулж
                                        нэгдсэн сандаа оруулж болзошгүй.
                                    </li>
                                    <li>Бид бизнесээ явуулахдаа вэб хуудсаа ажиллуулах болон туслуулах зорилгоор таны
                                        оруулсан зар болон таны тухай мэдээллийг хамтран ажиллаж буй хөндлөнгийн
                                        байгууллагатай хуваалцах магадлалтай. Хэрэв бид шаардлагатай гэж үзвэл таны
                                        мэдээллийг хуулийн дагуу, хуулийн этгээдүүдэд дамжуулах магадлалтай. Бид таны
                                        тухай мэдээллийг өөрсдийн болон бусдын эрх ашиг, өмч, болон аюулгүй байдлыг
                                        хамгаалах зорилгоор бусадтай хуваалцаж болзошгүй ч тийм үүрэг хүлээгээгүй болно.
                                    </li>
                                    <li>Бид вэб хуудас дахь зочдын мэдээллийг маркетинг, зар сурталчилгаа болон бусад
                                        аль нэг хэрэгцээ гарвал хөндлөнгийн этгээдүүдтэй хуваалцах магадлалтай.
                                    </li>
                                    <li>Хэрэв та манай үйлчилгээний нөхцөл болон манай вэб хуудсыг яаж ашиглах талаар
                                        асуух асуулт мөн санал гомдол байвал, та дараах хаягаар холбогдоно уу.
                                        support@waldo.mn
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div layout="row" flex>
                        <md-button layout="column" flex="20" ng-click="saveSignup()"
                                   class="btn btn-lg  btn-block btn-success"
                                   ng-disabled="register.password !=register2.password_confirm || register.email!=register2.email_confirm || !register.username || !register.firstname || !register.email || !register.phone || !register.password || data.cb2!='ЗӨВШӨӨРЧ'">
                            Бүртгүүлэх
                        </md-button>
                        <md-checkbox flex="80" layout="column"
                                     ng-model="data.cb2"
                                     aria-label="Checkbox 2"
                                     ng-true-value="'ЗӨВШӨӨРЧ'"
                                     ng-false-value="'ЗӨВШӨӨРӨХГҮЙ'"
                                     class="md-warn md-align-top-left">
                            <span> Веб сайт ашиглах журам-ыг {{ data.cb2 }} байна</span>
                        </md-checkbox>
                    </div>

                </form>
            </md-content>
            <div layout="column" layout-align="space-around center" data-ng-show="formHide">
                <div style="font-weight: bold; text-transform: uppercase">{{register.username}}</div>
                <div>Сайн байна уу</div>
                <div>WALDO програмд бүртгүүлсэнд баярлалаа</div>
                <md-button ng-click="closeDialog()" class="btn btn-lg  btn-block btn-success">Хаах</md-button>
            </div>

        </section>
    </md-dialog-content>
</md-dialog>