<footer>
    <div layout-align="space-around center" flex class="footer">
        <div layout="row">
            <div flex>
                <div style="padding-top: 10px">
                    Олон нийтийн сүлжээн дахь манай хаяг:
                    <a href="https://twitter.com/waldonetwork" target="_blank">
                        <md-icon md-svg-icon="twitter" class="social"></md-icon>
                    </a>
                    <a href="https://www.facebook.com/waldo.mn" target="_blank">
                        <md-icon md-svg-icon="facebook" class="social"></md-icon>
                    </a>
                </div>
            </div>
            <div class="align-right" flex>Зохиогчийн эрх хуулиар хамгаалагдсан<br>© 2015 он Валдо сүлжээ</div>
        </div>
    </div>
</footer>