<footer>
    <div  layout-align="space-around center" flex class="footer">
        <div layout="row">
            <div flex>
                Бидэнтэй холбогдох бол доорх сошиал сүлжээгээр холбогдож санал хүсэлтэй хүргүүлээрэй үргэлж та бүхэний санал хүсэлтийг хүлээж авах болно.
                <a href="https://twitter.com/waldonetwork" target="_blank">
                    <md-icon md-svg-icon="twitter" class="social"></md-icon></a>
                <a href="https://www.facebook.com/waldo.mn" target="_blank">
                    <md-icon md-svg-icon="facebook" class="social"></md-icon></a>
            </div>
            <div class="right" flex>Зохиогчийн эрх хуулиар хамгаалагдсан. <br>© 2015 он Валдо сүлжээ</div>
        </div>
    </div>
</footer>