<div class="header">
    <div class="md-toolbar-tools">
        <div flex="20" ng-include="'../../assets/svg/logo_mon_with_typographic-02.svg'" hide-sm></div>
        <div flex="20" ng-include="'../../assets/svg/only_waldo_logo.svg'" hide show-sm></div>
        <div flex="20">
            <md-button class="md-raised md-accent" ng-click="createPost()">
                <md-icon md-svg-icon="plus-circle"></md-icon>
                <span hide-sm>Шинэ зар нэмэх</span>
            </md-button>
        </div>

        <div ng-controller="UserController" flex="40" layout="row" layout-sm="column">
            <input type="text" placeholder="Нэвтрэх нэр" data-ng-model="username" label="Хэрэглэгчийн нэр"/>
            <input type="password" placeholder="Нууц үг" data-ng-model="password" label="Нууц үг"/>
            <md-button class="md-raised"  data-ng-click="signin()">
                <md-icon md-svg-icon="account"></md-icon>
                <span hide-sm>Нэвтрэх</span>
            </md-button>

        </div>

    </div>
</div>


<!--

<button data-ng-click="login()">login</button>
<button data-ng-click="logout()">logout</button>

-->
