<div class="middle-pic">
    <div class="middle">
        <div class="middle-height" data-ng-hide="filterArea">
            <div class="middle-text" style="padding-top: 88px">

                ХОТ ХООРОНДЫН АЧАА ТЭЭВЭР ЗУУЧЛАЛЫН ЗАРЫН САЙТ

            </div>

            <div class="middle-text2">

                Манай сайтад идэвхтэй <span class="middle-number"> {{activatePostCount}} </span> зар байна.

            </div>

        </div>
        <div class="middle-height" data-ng-show="filterArea">

            <div class="middle-text">

                ХОТ ХООРОНДЫН АЧАА ТЭЭВЭР ЗУУЧЛАЛЫН ЗАРЫН САЙТ

            </div>

            <div class="middle-text2">
                Манай сайтад идэвхтэй <span class="middle-number">{{activatePostCount}}</span> зар байна.
            </div>

            <div layout="row" class="text-left">
                <div layout="column" flex="70">
                    <div layout="row" flex class="middle-filter-area">
                        <div layout="column">
                            <span class="filter-title">Зарын төрөл</span>
                            <md-select data-ng-model="filter.type" ng-change="filterChange()"
                                       class="datepicker-filter-adjust5" placeholder="Сонгох">
                                <md-option value="">Бүх зар</md-option>
                                <md-option value="CARRIER">Тээвэрлэх зар</md-option>
                                <md-option value="SENDER">Илгээх зар</md-option>
                            </md-select>
                        </div>
                        <div layout="column">
                            <label class="filter-title">Хөдлөх газар</label>
                            <md-select class="datepicker-filter-adjust5" data-ng-model="filter.fromCityId"
                                       ng-change="filterChange()" placeholder="Сонгох">
                                <md-option ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                            </md-select>
                        </div>
                        <div layout="column">
                            <label class="filter-title">Очих газар</label>
                            <md-select class="datepicker-filter-adjust5" data-ng-model="filter.toCityId"
                                       ng-change="filterChange()" placeholder="Сонгох">
                                <md-option ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                            </md-select>
                        </div>

                    </div>

                    <div layout="row" flex class="middle-filter-area">
                        <div layout="column">
                            <label class="filter-title">Явах огноо эхлэх</label>
                            <md-datepicker calendar-header="caHeader" ng-model="filter.fromDateTime" md-placeholder="Сонгох" format="yyyy.MM.dd"
                                           class="datepicker-filter-adjust"></md-datepicker>
                        </div>
                        <div layout="column">
                            <label class="filter-title">Явах огноо дуусах</label>
                            <md-datepicker calendar-header="caHeader" ng-model="filter.toDateTime" md-placeholder="Сонгох"
                                           class="datepicker-filter-adjust" md-min-date="filter.fromDateTime"></md-datepicker>
                        </div>
                        <md-button class="md-raised md-warn md-button md-ink-ripple filter-button"
                                   ng-click="filterClear();searchTextType='Бүх зар';selectedItemType = postType[0];searchText1='Бүх аймаг';selectedItem1 = cities[0];searchText='Бүх аймаг';selectedItem = cities[0]">
                            <md-icon md-svg-icon="filter-remove"></md-icon>
                            <span>Цэвэрлэх!</span>
                        </md-button>
                    </div>
                </div>

                <div layout="column" flex="30">

                    <div class="register" data-ng-hide="auth">
                        <a href="#" ng-click="signup()">
                            <img src="../../../../image/register-bnt-left.png"/>
                        </a>
                        <!--<div  class="register-btn"  ng-click="signup()">

                        </div>-->


                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


