<div class="middle-pic">
    <div class="middle">
        <div class="middle-text">
            ХОТ ХООРОНДЫН АЧАА ТЭЭВЭР ЗУУЧЛАЛЫН ЗАРЫН САЙТ
        </div>
        <div class="middle-text2">
            Манай сайтад идэвхтэй <span class="middle-number">{{num}}12313</span> зар байна.
        </div>

        <div layout="row" flex="50">
            <div layout="column">
                <div layout="row" flex class="middle-filter-area">
                    <md-input-container class="input-container-adjust">
                        <label>Зарын төрөл</label>
                        <md-select ng-model="filter.postType" class="filter-area2">
                            <md-option value="">Бүх зар</md-option>
                            <md-option value="SENDER">Зөвхөн ачаа илгээх</md-option>
                            <md-option value="CARRIER">Зөвхөн ачаа авч явах</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container-adjust">
                        <label>Хаанаас</label>
                        <md-select ng-model="filter.fromLocation" ng-change="changeValue()"
                                   layout-align="center center" class="filter-area">
                            <md-option value="">Бүх аймаг</md-option>
                            <md-option ng-repeat="city in cities track by city.name" value="{{city.name}}">{{city.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container-adjust">
                        <label>Хаашаа</label>
                        <md-select ng-model="filter.toLocation" ng-change="filterCtrl.changeValue()"
                                   layout-align="center center" class="filter-area">
                            <md-option value="">Бүх сум</md-option>
                            <md-option ng-repeat="city in cities track by city.name" value="{{city.name}}">{{city.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>


                </div>

                <div layout="row" flex class="middle-filter-area">
                    <div layout="column">
                        <label class="label-title">Огноо</label>
                        <md-datepicker ng-model="filter.toDate" md-placeholder="Явах өдөр" format="yyyy.MM.dd"
                                       ng-change="changeValue()"
                                       class="datepicker-filter-adjust"></md-datepicker>
                    </div>
                    <div layout="column">
                        <label  class="label-title" >Огноо</label>
                        <md-datepicker ng-model="filter.fromDate" md-placeholder="Очих өдөр"
                                        ng-change="changeValue()"
                                        class="datepicker-filter-adjust"></md-datepicker>
                    </div>
                    <md-button class="md-raised md-warn md-button md-ink-ripple" ng-click="filterClear()">
                        <md-icon md-svg-icon="filter-remove"></md-icon>
                        <span>Цэвэрлэх!</span>
                    </md-button>
                </div>


            </div>
        </div>
    </div>
</div>