<div layout="row" class="middle-menu">
    <a href="#/index" target="_self">
        <div class="un-select" id="index">
            Бүх зар
        </div>
    </a>
    <a href="#/index/own-post" target="_self" ng-show="auth">
        <div class="un-select" id="own-post">
            Миний зар
        </div>
    </a>
    <a href="#/index/contacted-post" target="_self" ng-show="auth">
        <div class="un-select" id="contacted-post">
            Холбогдсон зар
        </div>
    </a>
    <a href="#/index/about" target="_self">
        <div class="select" id="about">
            Валдогийн тухай
        </div>
    </a>
</div>

<md-content layout-padding class="about-waldo" ng-init="$parent.filterArea=false">

    <div data-ng-click="about=!about;training=false;AQ=false;terms=false;contact=false" class="aboutTxt" ng-init="about=true" ng-class="{orangeBack : about == true, grayBack: about ==false}">
      Валдо сүлжээ гэж юу вэ?
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="about == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="about == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="about">
        <li>Хийгдэж байна...
        </li>
    </ul>

    <div data-ng-click="training=!training;about=false;AQ=false;terms=false;contact=false" class="aboutTxt" ng-init="training=false" ng-class="{orangeBack : training == true, grayBack: training ==false}">Байнга асуугддаг асуултууд...
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="training == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="training == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="training">
        <li>Хийгдэж байна...
        </li>
    </ul>

    <div data-ng-click="AQ=!AQ;training=false;about=false;terms=false;contact=false" class="aboutTxt"  ng-init="AQ=false" ng-class="{orangeBack : AQ == true, grayBack: AQ ==false}">Валдо сүлжээ хэрхэн ашиглах вэ? Заавар.
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="AQ == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="AQ == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="AQ">
        <li>Хийгдэж байна...
        </li>
    </ul>

    <div data-ng-click="terms=!terms;training=false;AQ=false;about=false;contact=false" class="aboutTxt"   ng-init="terms=false" ng-class="{orangeBack : terms == true, grayBack: terms ==false}">Үйлчилгээний нөхцөл...
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="terms == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="terms == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="terms">
        <h3>Үйлчилгээний нөхцөл:</h3>
        <h4>1. Ерөнхий заалт</h4>
                                <span>
                                    Валдо сүлжээ нь ачаа бараа, мал амьтан илгээх болон зөөвөрлөх хүсэлтэй, эсвэл тодорхой нэг чиглэлд унаа хайж буй хүмүүсийг зар үүсгэн, хувь хүн болон тээврийн үйлчилгээ үзүүлэгчдийг хооронд нь холбож өгөх зориулалттай, бөгөөд энэхүү нөхцөл нь уг вэб хуудсыг эзэмшигч байгууллага болон хэрэглэгчтэй холбоотой үүсэх харилцааг зохицуулахад оршино
                                </span>

            <li>Энэхүү нөхцөл нь хэрэглэгч вэб хуудсыг гишүүнээр бүртгүүлэхээсээ өмнө сайтар
                уншиж танилцаж, хүлээн зөвшөөрч баталгаажуулсны үндсэн дээр хэрэгжинэ.
            </li>
            <li>Энэхүү үйлчилгээний нөхцөлийн хэрэгжилтэд Валдо сүлжээ /цаашид байгууллага гэх/
                болон хэрэглэгч /цаашид хэрэглэгч гэх/ хамтран хяналт тавина.
            </li>


        <h4>2. Үйлчилгээ</h4>

            <li>Хэрэглэгч нь 18 ба түүнээс дээш настай эрх зүйн бүрэн чадвар, чадамжтай иргэн,
                хуулийн этгээд байна.
            </li>
            <li>Хэрэглэгч өөрөө (ачаа бараа илгээгч, зорчин явагч, болон тээвэрлэх үйлчилгээ
                үзүүлэгч) өөр хоорондоо үйлчилгээний хөлс болон бусад нөхцөлөө зөвшилцлийн
                үндсэн дээр тохирно.
            </li>
            <li>Валдо сүлжээ нь үйлчилгээ үзүүлсэнтэй холбоотойгоор үүссэн аль ба нэг төлбөр
                тооцоо болон хэрэглэгч хоорондын зөвшилцөл дээр харсан ямар нэг маргаанд
                хариуцлага хүлээхгүй.
            </li>
            <li>Одоо мөрдөгдөж буй холбогдох хууль тогтоомжийн дагуу, шууд болон шууд бус
                гэмтэл, хор уршиг, алдагдлыг бид хариуцахгүй болно. Хэрэв энэ вэб хуудсыг
                ашигласнаас үүдсэн болон ашиглалттай холбоотой хариуцлагыг бид хуулийн дагуу,
                үндэслэлтэйгээр, тус хэрэглэгчид 50,000 төгрөгтэй тэнцэх хэмжээнд хохирлыг
                барагдуулна.
            </li>
            <li>Валдо сүлжээний хэрэглэгч талуудын өөр хоорондын тохиролцоо болон төлбөр
                тооцоотой холбоотой түүнд хамаарах ямар нэг банк хоорондын гүйлгээний үүсэх
                хариуцлагаа зөвхөн хэрэглэгч өөрсдөө бүрэн хариуцна.
            </li>
            <li>Валдо сүлжээ нь өөрийн сүлжээнд байрших заруудыг сонгон судлах болон зар
                хоорондын харилцааг удирдахгүй бөгөөд хэрэглэгчдийн өмнөөс хариуцлага хүлээхгүй
                болно.
            </li>
            <li>Бид урьдчилан мэдэгдэхгүйгээр хэнд ч үйлчилгээ үзүүлэхээс татгалзах бүрэн эрхтэй
                мөн энэ үйлдэлдээ нэгэн нэгэн хариуцлага хүлээхгүй болно.
            </li>
            <li>Валдо сүлжээ вэб хуудсын нэр, дотоод агуулга, үзэл санаа болон загвар дизайн нь
                Валдо сүлжээний өмч бөгөөд, хууль эрхийн дагуу зохиогчийн эрх, худалдааны
                бүртгэл тэмдэг болон патент нь оюуны өмчийн хуулиар хамгаалагдсан болно. Та
                энэхүү вэб хуудсыг ашиглах эрхтэй ч, Валдо сүлжээг ямар нэгэн байдлаар эсвэл
                хэлбэрээр хуулбарлахыг хатуу хориглоно.
            </li>
            <li>Та ямар ч нөхцөлд Валдо сүлжээ болон түүний хэрэглэгчдэд худал хуурмаг, хууль
                бус, болон бусдад хохирол учруулах зар сурталчилгаа үүсгэж болохгүй. Мөн Валдо
                сүлжээ болон түүний хэрэглэгчдэд хууль бус, хохирол учруулахаар үйлдэл хийхийг
                хатуу хориглоно.
            </li>
            <li>Вэб хуудас дээрх таны ашиглаж буй мэдээллүүд таны өөрийн эрсдэл байх бөгөөд бид
                тухайн мэдээллийг хуулбарлах, олон нийтэд түгээх, өөрчлөлт оруулах эсвэл орчуулж
                нэгдсэн сандаа оруулж болзошгүй.
            </li>
            <li>Бид бизнесээ явуулахдаа вэб хуудсаа ажиллуулах болон туслуулах зорилгоор таны
                оруулсан зар болон таны тухай мэдээллийг хамтран ажиллаж буй хөндлөнгийн
                байгууллагатай хуваалцах магадлалтай. Хэрэв бид шаардлагатай гэж үзвэл таны
                мэдээллийг хуулийн дагуу, хуулийн этгээдүүдэд дамжуулах магадлалтай. Бид таны
                тухай мэдээллийг өөрсдийн болон бусдын эрх ашиг, өмч, болон аюулгүй байдлыг
                хамгаалах зорилгоор бусадтай хуваалцаж болзошгүй ч тийм үүрэг хүлээгээгүй болно.
            </li>
            <li>Бид вэб хуудас дахь зочдын мэдээллийг маркетинг, зар сурталчилгаа болон бусад
                аль нэг хэрэгцээ гарвал хөндлөнгийн этгээдүүдтэй хуваалцах магадлалтай.
            </li>

    </ul>

    <div data-ng-click="contact=!contact;training=false;AQ=false;terms=false;about=false" class="aboutTxt"   ng-init="contact=false" ng-class="{orangeBack : contact == true, grayBack: contact ==false}">Бидэнтэй холбоо барих
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="contact == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="contact == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="contact">
        <li>Хэрэв та манай үйлчилгээний нөхцөл болон манай вэб хуудсыг яаж ашиглах талаар асуух асуулт мөн санал гомдол байвал, та дараах хаягаар холбогдоно уу. support@waldo.mn</li>

    </ul>

</md-content>