<div layout="row" class="middle-menu">
    <a href="#/index" target="_self">
        <div class="un-select" id="index">
            Бүх зар
        </div>
    </a>
    <a href="#/index/own-post" target="_self" ng-show="auth">
        <div class="un-select" id="own-post">
            Миний зар
        </div>
    </a>
    <a href="#/index/contacted-post" target="_self" ng-show="auth">
        <div class="un-select" id="contacted-post">
            Холбогдсон зар
        </div>
    </a>
    <a href="#/index/about" target="_self">
        <div class="select" id="about">
            Валдогийн тухай
        </div>
    </a>
</div>

<md-content layout-padding class="about-waldo" ng-init="$parent.filterArea=false">

    <div data-ng-click="about=!about;training=false;AQ=false;terms=false;contact=false" class="aboutTxt" ng-init="about=true" ng-class="{orangeBack : about == true, grayBack: about ==false}">
      Валдо сүлжээ гэж юу вэ?
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="about == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="about == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="about">
        <li>
            “Валдо” сүлжээ нь ачаа бараа, мал амьтан илгээх болон зөөвөрлөх
            хүсэлтэй эсвэл тодорхой нэг чиглэлд унаа /автомашин/ хайж буй хүмүүс
            зар үүсгэн, хувь хүн болон тээврийн үйлчилгээ үзүүлэгчдийг хооронд нь холбож өгөх зорилготой вэб юм.
        </li>
    </ul>

    <div data-ng-click="training=!training;about=false;AQ=false;terms=false;contact=false" class="aboutTxt" ng-init="training=false" ng-class="{orangeBack : training == true, grayBack: training ==false}">Байнга асуугддаг асуултууд...
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="training == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="training == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="training">
        <li>Хийгдэж байна...
        </li>
    </ul>

    <div data-ng-click="AQ=!AQ;training=false;about=false;terms=false;contact=false" class="aboutTxt"  ng-init="AQ=false" ng-class="{orangeBack : AQ == true, grayBack: AQ ==false}">Валдо сүлжээ хэрхэн ашиглах вэ? Заавар.
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="AQ == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="AQ == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="AQ">
        <li>Хийгдэж байна...
        </li>
    </ul>

    <div data-ng-click="terms=!terms;training=false;AQ=false;about=false;contact=false" class="aboutTxt"   ng-init="terms=false" ng-class="{orangeBack : terms == true, grayBack: terms ==false}">“Валдо” сүлжээний цахим хуудсыг эзэмшигчийн  үйлчилгээний нөхцөл, ашиглах журам
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="terms == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="terms == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="terms">
        <h3>Үйлчилгээний нөхцөл:</h3>
        <h4>1. Нийтлэг үндэслэл</h4>
                                <li>
                                    “Валдо” сүлжээ нь ачаа бараа, мал амьтан илгээх болон зөөвөрлөх хүсэлтэй эсвэл тодорхой нэг чиглэлд унаа /автомашин/ хайж буй хүмүүс зар үүсгэн, хувь хүн болон тээврийн үйлчилгээ үзүүлэгчдийг хооронд нь холбож өгөх зорилготой бөгөөд энэхүү нөхцөл нь уг вэб хуудсыг эзэмшигч байгууллага болон хэрэглэгчтэй холбоотой үүсэх харилцааг зохицуулна.
                                </li>

            <li>Энэхүү нөхцөл нь хэрэглэгч гишүүнээр элсэн бүртгүүлэхээсээ
                өмнө вэб хуудсыг сайтар уншин танилцаж, хүлээн зөвшөөрч баталгаажуулсны үндсэн дээр хэрэгжинэ.
            </li>
            <li>Энэхүү үйлчилгээний нөхцөлийн хэрэгжилтэд Валдо сүлжээ
                /цаашид байгууллага гэх/ болон хэрэглэгч /цаашид хэрэглэгч гэх/ хамтран хяналт тавина
            </li>


       <h4>2. Цахим хуудас болон түүнд байрших мэдээ, мэдээлэлд тавигдах шаардлага</h4>

            <li>Хэрэглэгч нь 18 ба түүнээс дээш
                настай эрх зүйн бүрэн  чадамжтай иргэн, хуулийн этгээд байна.
            </li>
            <li>Хэрэглэгч өөрөө (ачаа бараа илгээгч, зорчин явагч, болон тээвэрлэх үйлчилгээ
                үзүүлэгч) өөр хоорондоо үйлчилгээний хөлс болон бусад нөхцөлөө зөвшилцлийн
                үндсэн дээр тохирно.
            </li>
            <li>Валдо сүлжээ вэб хуудсын  нэр, дотоод агуулга,  үзэл санаа
                болон загвар дизайн нь Валдо сүлжээний өмч бөгөөд, хуульд
                заасны дагуу зохиогчийн эрх,  худалдааны бүртгэл, тэмдэг
                болон патент нь оюуны өмчийн хуулиар хамгаалагдсан болно.
                Та энэхүү вэб хуудсыг ашиглах эрхтэй ч, Валдо сүлжээг  ямар
                нэгэн байдлаар эсвэл хэлбэрээр хуулбарлахыг хатуу хориглоно.
            </li>
            <li>Та ямар ч нөхцөлд Валдо сүлжээ болон түүний хэрэглэгчдэд
                худал мэдээлэл, хууль бус,  болон бусдад хохирол учруулах
                зар сурталчилгаа үүсгэж болохгүй. Мөн Валдо сүлжээ болон
                түүний хэрэглэгчдэд хууль бус хохирол учруулахаар үйлдэл
                хийхийг хатуу хориглоно.
            </li>
        <h4>3. Цахим хуудас ажиллуулах</h4>
        <li>Вэб хуудас дахь зочдын мэдээллийг маркетинг, зар сурталчилгааны хэлбэрээр
            болон шаардлагатай бусад тохиолдолд гуравдагч  этгээдэд дамжуулж болно.</li>
        <li>
            Бид бизнесээ явуулахдаа вэб хуудсыг ажиллуулах болон туслуулах
            зорилгоор таны оруулсан зар болон бусад мэдээллийг хамтран ажиллаж
            буй хөндлөнгийн байгууллагад өгч болно. Хэрэв шаардлагатай гэж
            үзвэл таны мэдээллийг хуулийн дагуу, хуулийн этгээдүүдэд дамжуулж
            болно. Таны тухай мэдээллийг өөрсдийн болон бусдын  эрх ашиг, өмч,
            болон аюулгүй байдлыг хамгаалах зорилгоор бусдад өгч болох ч тийм
            үүрэг хүлээгээгүй болно.
        </li>
        <li>
            Вэб хуудас дээрх таны ашиглаж буй мэдээллүүд таны өөрийн эрсдэл
            байх бөгөөд бид тухайн мэдээллийг хуулбарлах, олон нийтэд түгээх,
            өөрчлөлт оруулах эсвэл орчуулж нэгдсэн сандаа оруулж болно.
        </li>
        <li>
            Бид урьдчилан мэдэгдэхгүйгээр хэнд ч үйлчилгээ үзүүлэхээс татгалзах
            бүрэн эрхтэй мөн энэ үйлдэлдээ хариуцлага хүлээхгүй болно.
        </li>
        <li>
            Валдо сүлжээ нь өөрийн сүлжээнд байрших заруудыг сонгон судлах болон зар
            хоорондын харилцааг удирдахгүй бөгөөд хэрэглэгчдийн өмнөөс хариуцлага
            хүлээхгүй болно.
        </li>
        <h4>4. Цахим хуудас ашиглах</h4>
        <li>
            Хэрэв та манай үйлчилгээний нөхцөл болон манай вэб хуудсыг хэрхэн ашиглах
            талаар асуух асуулт мөн санал гомдол байвал, та дараах support@waldo.mn хаягаар
            холбогдоно уу.
        </li>
        <li>
            Та ямар ч нөхцөлд Валдо сүлжээ болон түүний хэрэглэгчдэд худал мэдээлэл,  хууль
            бусаар мэдээлж бусдад хохирол учруулах зар сурталчилгаа үүсгэж болохгүй. Мөн Валдо
            сүлжээ болон түүний хэрэглэгчдэд хууль бусаар  хохирол учруулахаар үйлдэл хийхийг хатуу хориглоно.
        </li>
        <li>
            Валдо сүлжээ вэб хуудсын  нэр, дотоод агуулга,  үзэл санаа болон загвар дизайн нь Валдо сүлжээний
            өмч бөгөөд, хууль эрхийн дагуу зохиогчийн эрх,  худалдааны бүртгэл тэмдэг болон патент нь оюуны өмчийн
            хуулиар хамгаалагдсан болно. Та энэхүү вэб хуудсыг ашиглах эрхтэй ч, Валдо сүлжээг  ямар нэгэн байдлаар
            өөр хэлбэрээр хуулбарлахыг хатуу хориглоно.
        </li>
        <h4>5. Журам зөрчигчдөд хүлээлгэх хариуцлага</h4>
        <li>
            Валдо сүлжээний хэрэглэгч талуудын өөр хоорондын тохиролцоо болон төлбөр тооцоотой холбоотой түүнд
            хамаарах ямар нэг банк хоорондын гүйлгээнээс үүсэх хариуцлагыг зөвхөн хэрэглэгч өөрсдөө бүрэн хариуцна.
        </li>
        <li>
            Валдо сүлжээ нь үйлчилгээ үзүүлсэнтэй холбоотойгоор үүссэн төлбөр тооцоо болон хэрэглэгч хоорондын
            ямар нэг маргаанд хариуцлага хүлээхгүй болно.
        </li>
        <li>
            Энэ журмыг зөрчиж цахим хуудаст буруу, ташаа мэдээлэл оруулсан хариуцлагыг тухайн мэдээллийг
            оруулсан этгээд бүрэн хариуцаж, бусдад хохирол учруулсан бол хууль тогтоомжид заасны дагуу шийдвэрлэнэ.
        </li>
    </ul>

    <div data-ng-click="contact=!contact;training=false;AQ=false;terms=false;about=false" class="aboutTxt"   ng-init="contact=false" ng-class="{orangeBack : contact == true, grayBack: contact ==false}">Бидэнтэй холбоо барих
        <div style="float: right">
            <md-icon md-svg-icon="drop_down" class="ddown" ng-show="contact == false"></md-icon>
            <md-icon md-svg-icon="up" class="dup" ng-show="contact == true"></md-icon>
        </div>
    </div>
    <ul data-ng-show="contact">
        <li>Хэрэв та манай үйлчилгээний нөхцөл болон манай вэб хуудсыг яаж ашиглах талаар асуух асуулт мөн санал гомдол байвал, та дараах хаягаар холбогдоно уу. support@waldo.mn</li>

    </ul>

</md-content>