<div layout="row" class="middle-menu">
    <a href="#/index" target="_self">
        <div class="un-select" id="index">
            Бүх зар
        </div>
    </a>
    <a href="#/index/own-post" target="_self" ng-show="auth">
        <div class="un-select" id="own-post">
            Миний зар
        </div>
    </a>
    <a href="#/index/contacted-post" target="_self" ng-show="auth">
        <div class="un-select" id="contacted-post">
            Холбогдсон зар
        </div>
    </a>
    <a href="#/index/about" target="_self">
        <div class="select" id="about">
            Валдогийн тухай
        </div>
    </a>
</div>

<md-content layout-padding class="about-waldo" ng-init="$parent.filterArea=false">
    <h2>Валдо сүлжээ гэж юу вэ?</h2>

    <h3>Үйлчилгээний нөхцөл</h3>
    <h4>Та ВАЛДО  сүлжээг ашиглах хугацаанд энэхүү нөхцөлүүдийг зөвшөөрнө.</h4>
    <ul>
        <li>Та арван наймаас дээш настай.</li>
        <li>ВАЛДО сүлжээ нь ачаа бараа,  мал амьтан илгээх болон зөөвөрлөх хүсэлтэй ,
            эсвэл ямар нэг чиглэлд унаа хайж буй хүмүүсийг зар үүсгэн, хувь хүн болон
            зөөвөрийн үйлчилгээ үзүүлэгчдийг хооронд нь холбож өгөх зориулалттай. 
            ВАЛДО сүлжээ нь үйлчилгээ үзүүлсэний  хөлсийг төлөх төлбөр тооцоо болон
            зөвшилцөлийг хариуцахгүй. Хэрэглэгч өөрөө ( ачаа бараа илгээгч, зорчин явагч ,
            болон зөөвөрлөх үйлчилгээ үзүүлэгч ) өөр хоорондоо үйлчилгээний хөлс болон зөвшилцөлөө
            тохирно.

        </li>
        <li>Та вэб  хуудсыг ашиглахдаа дараах зүйлүүдийг зөвшөөрнө:<br>
            Одоо мөрдөгдөж буй холбогдох хууль тогтоомжийн дагуу,
            шууд болон шууд бус гэмтэл, хор уршиг,  алдагдлыг бид хариуцахгүй болно. Хэрэв энэ вэб
            хуудсыг ашигласнаас үүдсэн болон ашиглалттай холбоотой хариуцлагийг бид хуулийн дагуу,
            үндэслэлтэйгээр, тус хэрэглэгчид $100 хүртэлх ам доллартай  тэнцэх хэмжээнд хохирлыг
            барагдуулна.

        </li>
        <li> ВАЛДО сүлжээг ашиглагч талууд өөр хоорондын тохиролцоо болон гүйлгээний хариуцлагаа
            зөвхөн өөрсдөө бүрэн хүлээнэ.
        </li>
        <li>ВАЛДО нь өөрийн сүлжээнд байрших заруудыг  сонгон судлах болон зар хоорондын харилцааг
            удирдахгүй бөгөөд хэрэглэгчдийн өмнөөс хариуцлага хүлээхгүй болно. Бид урьдчилан мэдэгдэхгүйгээр хэнд
            ч үйлчилгээ үзүүлэхээс татгалзах бүрэн эрхтэй ч ямар нэгэн үүрэг хүлээгээгүй болно.
        </li>
        <li>ВАЛДО вэб хуудсын  нэр, дотоод агуулга,  үзэл санаа болон загвар дизайн нь ВАЛДО сүлжээний өмч бөгөөд,
            хуулийн эрхийн дагуу зохиогчийн эрх,  худалдааны бүртгэл тэмдэг болон патент нь оюуны өмчийн хуулиар
            хамгаалагдсан болно. Та энэхүү вэб хуудсыг ашиглах эрхтэй ч, ВАЛДО сүлжээг  ямар нэгэн байдлаар эсвэл
            хэлбэрээр хуулбарлахыг хатуу хориглоно. 
        </li>
        <li>Та ямар ч нөхцөлд ВАЛДО сүлжээ болон түүний хэрэглэгчидэд худал хуурмаг,  хууль бус,  болон бусдад
            хохирол учруулах зар сурталчилгаа үүсгэж болохгүй. Мөн ВАЛДО сүлжээ болон түүний хэрэглэгчидэд хууль бус,
             хохирол учруулахаар үйлдэл хийхийг хориглоно. 
        </li>
        <li>Вэб хуудас дээрхи таны ашиглаж буй мэдээллүүд таны өөрийн эрсдэл байх бөгөөд бид тухайн мэдээллийг
            хуулбарлах, олон нийтэд түгээх,  өөрчлөлт оруулах эсвэл орчуулж нэгдсэн сандаа оруулж болзошгүй. 
        </li>
        <li>
            Бид бизнесээ явуулах, вэб хуудсаа ажиллуулах болон туслуулах зорилгоор таны оруулсан зар болон таны
            тухай мэдээллийг хамтран ажиллаж буй хөндлөнгийн байгууллагатай хуваалцах магадлалтай. Хэрэв бид
             шаардлагатай гэж үзвэл таны мэдээллийг хуулийн дагуу, хуулийн этгээдүүдэд дамжуулах магадлалтай.
            Бид таны тухай мэдээллийг өөрсдийн болон бусдын  эрх ашиг, өмч, болон аюулгүй байдлийг хамгаалах зорилгоор
            бусадтай хуваалцаж болзошгүй ч тийм үүрэг хүлээгээгүй болно. 
        </li>
        <li>
            Бид хэн нь тодорхойлогдохооргүй вэб хуудас дахь зочдын мэдээллийг маркетинг, зар сурталчилгаа болон
            бусад хэрэглээний тулд хөндлөнгийн этгээдүүдтэй хуваалцах магадлалтай. 
        </li>
        <li>
            Хэрэв та манай үйлчилгээний нөхцөл болон манай хуудсыг яаж ашиглах талаар асуулт болон асуудал байвал,
            та дараах хаягаар холбогдоно уу. <br>
            support@waldo.mn

        </li>
    </ul>
</md-content>