<div layout="row" flex>
    <div layout="column" flex="25" style="padding: 10px;">
        <div style="font-weight: bold">ШҮҮЛТҮҮР:</div>
        <div>
            <div class="filter-title">Зарын төрөл</div>

            <md-autocomplete ng-disabled="isDisabledType" md-no-cache="noCacheType"
                             md-selected-item="selectedItemType"
                             md-search-text-change="searchTextChangeType(searchTextType)"
                             md-search-text="searchTextType"
                             md-selected-item-change="filter.postType = item.value"
                             md-items="item in querySearchType(searchTextType)"
                             md-item-text="item.display"
                             md-min-length="0" placeholder="Зарын төрөл" class="type2">
                <md-item-template>
                                    <span md-highlight-text="searchTextType"
                                          md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    "{{searchTextType}}" хайлт олдсонгүй.
                </md-not-found>
            </md-autocomplete>

        </div>
        <div>
            <label class="filter-title">Хөдлөх газар</label>
            <md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache"
                             md-selected-item="selectedItem"
                             md-search-text-change="searchTextChange(searchText)"
                             md-search-text="searchText"
                             md-selected-item-change="filter.fromLocation = item.name"
                             md-items="item in querySearch(searchText)" md-item-text="item.name"
                             md-min-length="0" placeholder="Хаанаас" class="type2">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    "{{searchText}}" хайлт олдсонгүй.
                </md-not-found>
            </md-autocomplete>
        </div>
        <div>
            <label class="filter-title">Очих газар</label>
            <md-autocomplete ng-disabled="isDisabled1" md-no-cache="noCache1"
                             md-selected-item="selectedItem1"
                             md-search-text-change="searchTextChange1(searchText1)"
                             md-search-text="searchText1"
                             md-selected-item-change="filter.toLocation = item.name"
                             md-items="item in querySearch1(searchText1)" md-item-text="item.name"
                             md-min-length="0" placeholder="Хаашаа" class="type2">
                <md-item-template>
                    <span md-highlight-text="searchText1" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    "{{searchText}}" хайлт олдсонгүй
                </md-not-found>
            </md-autocomplete>
        </div>
        <div>
            <label class="filter-title">Явах огноо эхлэх</label>

            <div layout="row">
                <md-datepicker ng-model="filter.toDate" md-placeholder="Сонгох" format="yyyy.MM.dd"
                               ng-change="changeValue()"
                               class="datepicker-filter-adjust3"></md-datepicker>
            </div>
        </div>
        <div>
            <label class="filter-title">Явах огноо дуусах</label>

            <div layout="row">
                <md-datepicker ng-model="filter.fromDate" md-placeholder="Сонгох"
                               ng-change="changeValue()"
                               class="datepicker-filter-adjust3" md-min-date="filter.toDate"></md-datepicker>
            </div>
        </div>
        <md-button class="md-raised md-warn md-button md-ink-ripple filter-button"
                   ng-click="filterClear();searchTextType='Бүх зар';selectedItemType = postType[0];searchText1='Бүх аймаг';selectedItem1 = cities[0];searchText='Бүх аймаг';selectedItem = cities[0]">
            <md-icon md-svg-icon="filter-remove"></md-icon>
            <span>Цэвэрлэх!</span>
        </md-button>


    </div>
    <div layout="column" flex="75">
        <div flex layout="row" >
            <div flex="75" layout="row" class="filter-result">
                <div layout="column" class="filter-txt">Шүүлтүүр : </div>
                <div layout="column" class="filter-txt-result">Зарын төрөл,Бүх зар</div>
            </div>
            <div flex="25" layout="row" class="filter-result">
                <div  layout="column" class="quick-title">Эрэмблэх:</div>
                <select ng-model="filter.quickFilter" class="quick-filter2"  layout="column">>
                    <option value="-createdDate">Сүүлд орсон</option>
                    <option value=-requestNum>Их үзсэн</option>
                </select>


            </div>
        </div>
        <md-content  ng-init="contactedPost();init();">
            <md-grid-item
                    md-cols-sm="1" md-cols-gt-sm="1" md-cols-gt-lg="1"
                    md-row-height="165px"
                    md-gutter="6px" md-gutter-gt-sm="3px" flex>
                <md-grid-title ng-repeat="contactedPost in contactedPosts"> <!--| orderBy:'-createdDate' | filter:allPostCtrl.filterResult.postType | filter:{to:allPostCtrl.filterResult.toLocation}  | filter:{from:allPostCtrl.filterResult.fromLocation} | filter:{when: allPostCtrl.filterResult.toDate} | filter:{arrive: allPostCtrl.filterResult.fromDate} | filter:allPostCtrl.filterResult.transportationType | orderBy:allPostCtrl.filterResult.quickFilter">-->
                    <md-card layout="column" flex>
                        <div layout="row"
                             flex
                             ng-class="{carrier_post : contactedPost.type==='CARRIER', sender_post: contactedPost.type==='SENDER'}">

                            <md-card-content flex="15" layout="column">
                                <div layout="column" flex layout-align="center center" layout-padding>

                                    <img ng-src="ws/profile/image/{{contactedPost.username}}.png"
                                         class="user-male-icon"/>

                                    <div class="user_profile_name">{{ contactedPost.username }}</div>
                                </div>

                            </md-card-content>



                            <md-card-content flex="70" layout="row" layout-align="center center"
                                             class="post_body">
                                <div layout="column" flex layout-padding layout-align="center start">
                                    <div layout="row" class="post-title">
                                        <div ng-if="contactedPost.type==='CARRIER'">
                                            АЧАА ТЭЭВЭРЛЭНЭ: <span class="title-red">{{contactedPost.policy}}</span>
                                        </div>
                                        <div ng-if="contactedPost.type==='SENDER'">
                                            АЧАА ТЭЭВЭРЛҮҮЛНЭ: <span class="title-red">{{contactedPost.policy}}</span>
                                        </div>
                                    </div>

                                    <div ng-show="contactedPost.passanger" layout="row" class="more-txt">
                                        <div>
                                            <md-icon md-svg-icon="passenger"></md-icon>
                                            <span>ЗОРЧИГЧ: {{ contactedPost.passanger }}</span>
                                        </div>
                                    </div>

                                    <div layout="row" class="more-txt" ng-if="contactedPost.type==='CARRIER'"
                                         layout-align="start center">
                                        <md-icon md-svg-icon="car"></md-icon>
                                        <div>ТЭЭВРИЙН ХЭРЭГСЭЛ:</div>
                                        <div>{{contactedPost.transportation}}</div>
                                    </div>

                                    <!--ХӨДЛӨХ ГАЗРЫН ТУХАЙ-->
                                    <div layout="row" style="width: 100%">
                                        <div layout="column" flex="50">
                                            <div layout="row" class="fromTitle">
                                                ХӨДЛӨХ ГАЗАР
                                            </div>
                                            <div layout="row">
                                                <span class="post_user_data_text">{{contactedPost.from}}</span>
                                            </div>
                                            <div layout="row">
                                         <span class="post_user_data_text"
                                               ng-bind="convertToDate(contactedPost.when) | date:'yyyy.MM.dd'"></span>
                                            </div>

                                        </div>

                                        <!--ОЧИХ ГАЗРЫН ТУХАЙ-->
                                        <div layout="column" flex="50">
                                            <div layout="row" class="toTitle">
                                                ОЧИХ ГАЗАР
                                            </div>
                                            <div layout="row">
                                                <span class="post_user_data_text">{{contactedPost.to }}</span>
                                            </div>
                                            <div  layout="row">
                                        <span class="post_user_data_text"
                                              ng-bind="convertToDate(contactedPost.arrive) | date:'yyyy.MM.dd'"></span>
                                            </div>
                                        </div>


                                    </div>

                                    <div layout="row" class="more-txt padding-top-5" layout-align="start center">
                                        <md-icon md-svg-icon="carry"></md-icon>
                                        <div>АЧААНЫ ТУХАЙ:</div>
                                        <div><span
                                                ng-if="contactedPost.animal">{{contactedPost.animal}}&nbsp;</span><span
                                                ng-if="contactedPost.stuff">{{contactedPost.stuff}}</span><span
                                                ng-if="!contactedPost.stuff && !contactedPost.stuff">Байхгүй</span>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>

                            <md-card-content flex="15" layout="column" layout-align="center center">
                                <div layout="column" layout-align="center center"
                                     ng-if="contactedPost.type === 'SENDER'">
                                    <div class="post_type_label">ИЛГЭЭХ</div>
                                    <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                                </div>

                                <div layout="column" layout-align="center center"
                                     ng-if="contactedPost.type === 'CARRIER'">
                                    <div class="post_type_label">ТЭЭВЭРЛЭХ</div>
                                    <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                                </div>
                                <div layout="column" layout-align="center center">
                                    <p class="post_date_label">Үүссэн огноо:</p>

                                    <p class="post_date dim-text">{{contactedPost.createdDate}}</p>
                                </div>

                            </md-card-content>
                        </div>
                        <md-divider></md-divider>

                        <md-card-footer layout="row" layout-padding layout-align="space-between center">
                            <div>
                                <md-icon md-svg-icon="view"></md-icon>
                                <span>{{contactedPost.requestNum}}</span>
                            </div>
                            <a href="#" class="postMore" ng-click="contactedPostReadMore(contactedPost)">Дэлгэрэнгүй...</a>
                        </md-card-footer>
                    </md-card>

                </md-grid-title>
            </md-grid-item>
            <div layout="row" flex layout-align="center center">
                <md-button class="md-accent" ng-click="contactedPostPaging()" ng-show="contactedNextBtn">Цааш үзэх...</md-button>
            </div>
        </md-content>
    </div>
</div>


