<!--<div style="position: absolute;height: 400px;width: 200px;margin: 0px 0px 0px 0px;border:1px solid black">-->
<!--sadsadsadsad-->
<!--</div>-->

<div layout="row" class="layout-row" ng-controller="PostController">
    <md-sidenav md-sidenav
                class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open"
                md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" aria-hidden="false"
                style="width: 12%;
                height: 200px;
                position: absolute;
                margin-top: 275px;"

    >
        <div layout="row">
            <div layout="row" flex class="middle-filter-area">
                <div layout="row">
                    <span class="filter-title">Зарын төрөл</span>
                    <md-select data-ng-model="filter.type" ng-change="filterChange()"
                               class="datepicker-filter-adjust5" placeholder="Сонгох">
                        <md-option value="">Бүх зар</md-option>
                        <md-option value="CARRIER">Тээвэрлэх зар</md-option>
                        <md-option value="SENDER">Илгээх зар</md-option>
                    </md-select>
                </div>
                <div layout="row">
                    <label class="filter-title">Хөдлөх газар</label>
                    <md-select class="datepicker-filter-adjust5" data-ng-model="filter.fromCityId"
                               ng-change="filterChange()" placeholder="Сонгох">
                        <md-option ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                    </md-select>
                </div>
                <div layout="row">
                    <label class="filter-title">Очих газар</label>
                    <md-select class="datepicker-filter-adjust5" data-ng-model="filter.toCityId"
                               ng-change="filterChange()" placeholder="Сонгох">
                        <md-option ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                    </md-select>
                </div>


                <div layout="row">
                    <label class="filter-title">Явах огноо эхлэх</label>
                    <md-datepicker calendar-header="caHeader" ng-model="filter.fromDateTime" md-placeholder="Сонгох" format="yyyy.MM.dd"
                                   class="datepicker-filter-adjust" md-min-date="minDate" md-max-date="filter.toDateTime"></md-datepicker>
                </div>
                <div layout="row">
                    <label class="filter-title">Явах огноо дуусах</label>
                    <md-datepicker calendar-header="caHeader" ng-model="filter.toDateTime" md-placeholder="Сонгох"
                                   class="datepicker-filter-adjust" md-min-date="filter.fromDateTime"></md-datepicker>
                </div>
                <md-button class="md-raised md-warn md-button md-ink-ripple filter-button"
                           ng-click="filterClear();searchTextType='Бүх зар';selectedItemType = postType[0];searchText1='Бүх аймаг';selectedItem1 = cities[0];searchText='Бүх аймаг';selectedItem = cities[0]">
                    <md-icon md-svg-icon="filter-remove"></md-icon>
                    <span>Цэвэрлэх!</span>
                </md-button>
            </div>
        </div>
    </md-sidenav>
    <div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" aria-hidden="false">
        <div ng-include="'src/modules/home/template/header.html'"></div>
        <div >
            <div ng-include="'src/modules/home/template/middle.html'"></div>
            <div id="innerwrap">
                <div class="container">
                    <div ui-view=""></div>
                </div>
            </div>
        </div>
        <div ng-include="'src/modules/home/template/footer.html'"></div>
    </div>
</div>