<div layout="row" flex>
    <div layout="column" flex="25" style="padding: 10px;">
        <div style="font-weight: bold">ШҮҮЛТҮҮР:</div>
       
        <div>
            <div class="filter-title">Зарын төрөл</div>
            <select data-ng-model="ownFilter.type" ng-change="filterChange()">
                <option value="">Бүх зар</option>
                <option value="CARRIER">Тээвэрлэх зар</option>
                <option value="SENDER">Илгээх зар</option>
            </select>
        </div>
        <div>
            <label class="filter-title">Хөдлөх газар</label>
            <select data-ng-model="ownFilter.fromCityId" ng-change="filterChange()"
                    ng-options="city.id as city.name for city in cities"></select>
        </div>
        <div>
            <label class="filter-title">Очих газар</label>
            <select data-ng-model="ownFilter.toCityId" ng-change="filterChange()"
                    ng-options="city.id as city.name for city in cities"></select>
        </div>
        <div>
            <label class="filter-title">Явах огноо эхлэх</label>

            <div layout="row">
                <md-datepicker ng-model="ownFilter.fromDateTime" md-placeholder="Сонгох" date-format="yyyy-MM-dd"
                               class="datepicker-filter-adjust3"></md-datepicker>
            </div>
        </div>
        <div>
            <label class="filter-title">Явах огноо дуусах</label>

            <div layout="row">
                <md-datepicker ng-model="ownFilter.toDateTime" md-placeholder="Сонгох" date-format="yyyy-MM-dd"
                               class="datepicker-filter-adjust3" md-min-date="filter.toDate"></md-datepicker>
            </div>
        </div>
        <md-button class="md-raised md-warn md-button md-ink-ripple filter-button"
                   ng-click="clearFilterOwn();searchTextType='Бүх зар';selectedItemType = postType[0];searchText1='Бүх аймаг';selectedItem1 = cities[0];searchText='Бүх аймаг';selectedItem = cities[0]">
            <md-icon md-svg-icon="filter-remove"></md-icon>
            <span>Цэвэрлэх!</span>
        </md-button>

        <md-button class="md-accent" ng-click="hidePostsShow(hideOwnAds)" ng-show="hideOwnAds">Нуусан зар харах
        </md-button>
        <md-button class="md-accent" ng-click="hidePostsShow(hideOwnAds)" ng-hide="hideOwnAds">Идэвхтэй зар харах
        </md-button>


    </div>
    <div layout="column" flex="75">
        <div flex layout="row">
            <div flex="75" layout="row" class="filter-result">
                <div layout="column" class="filter-txt">Шүүлтүүр :</div>
                <div layout="column" class="filter-txt-result">Зарын төрөл,Бүх зар</div>
            </div>
            <div flex="25" layout="row" class="filter-result">
                <div layout="column" class="quick-title">Эрэмблэх:</div>
                <select ng-model="filter.quickFilter" class="quick-filter2" layout="column">>
                    <option value="-createdDate">Сүүлд орсон</option>
                    <option value=-requestNum>Их үзсэн</option>
                </select>


            </div>
        </div>
        <md-content ng-init="ownPost();init();">
            <md-grid-item
                    md-cols-sm="1" md-cols-gt-sm="1" md-cols-gt-lg="1"
                    md-row-height="165px"
                    md-gutter="6px" md-gutter-gt-sm="3px" flex>
                <md-grid-title id="{{ownPost.id}}" ng-repeat="ownPost in ownPosts">
                    <!--| orderBy:'-createdDate' | filter:allPostCtrl.filterResult.postType | filter:{to:allPostCtrl.filterResult.toLocation}  | filter:{from:allPostCtrl.filterResult.fromLocation} | filter:{when: allPostCtrl.filterResult.toDate} | filter:{arrive: allPostCtrl.filterResult.fromDate} | filter:allPostCtrl.filterResult.transportationType | orderBy:allPostCtrl.filterResult.quickFilter">-->
                    <!-- | filter:allPostCtrl.filterResult.postType | filter:{to:allPostCtrl.filterResult.toLocation}  | filter:{from:allPostCtrl.filterResult.fromLocation} | filter:{when: allPostCtrl.filterResult.toDate} | filter:{arrive: allPostCtrl.filterResult.fromDate} | filter:allPostCtrl.filterResult.transportationType | orderBy:allPostCtrl.filterResult.quickFilter">-->
                    <md-card layout="column" flex>
                        <div layout="row" flex
                             ng-class="{carrier_post : ownPost.type==='CARRIER', sender_post: ownPost.type==='SENDER'}">

                            <!--======================================= USER PICTURE AND NAME AREA =======================================-->
                            <md-content flex="15" layout="column" layout-align="center center">

                                <div layout="column" flex layout-align="center center" layout-padding>

                                    <img ng-src="ws/profile/image/{{ownPost.username}}.png"
                                         class="user-male-icon"/>

                                    <div class="user_profile_name">{{ownPost.username}}</div>
                                </div>
                            </md-content>

                            <!--======================================= MY POST INFO AREA =======================================-->
                            <md-card-content flex="70" layout="row" layout-align="center center"
                                             class="post_body">
                                <div layout="column" flex layout-padding layout-align="center start">
                                    <div layout="row" class="post-title">
                                        <div ng-if="ownPost.type==='CARRIER'">
                                            АЧАА ТЭЭВЭРЛЭНЭ: <span class="title-red">{{ownPost.policy}}</span>
                                        </div>
                                        <div ng-if="ownPost.type==='SENDER'">
                                            АЧАА ТЭЭВЭРЛҮҮЛНЭ: <span class="title-red">{{ownPost.policy}}</span>
                                        </div>
                                    </div>


                                    <div ng-show="ownPost.passanger" layout="row" class="more-txt">
                                        <div>
                                            <md-icon md-svg-icon="passenger"></md-icon>
                                            <span>ЗОРЧИГЧ: {{ ownPost.passanger }}</span>
                                        </div>
                                    </div>

                                    <div layout="row" class="more-txt" ng-if="ownPost.type==='CARRIER'"
                                         layout-align="start center">
                                        <md-icon md-svg-icon="car"></md-icon>
                                        <div>ТЭЭВРИЙН ХЭРЭГСЭЛ:</div>
                                        <div>{{ownPost.transportation}}</div>
                                    </div>


                                    <!--ХӨДЛӨХ ГАЗРЫН ТУХАЙ-->
                                    <div layout="row" style="width: 100%">
                                        <div layout="column" flex="50">
                                            <div layout="row" class="fromTitle">
                                                ХӨДЛӨХ ГАЗАР
                                            </div>
                                            <div layout="row">
                                                <span class="post_user_data_text2">{{ownPost.from }}</span>
                                            </div>
                                            <div layout="row">
                                         <span class="post_user_data_text2"
                                               ng-bind="convertToDate(ownPost.when) | date:'yyyy.MM.dd'"></span>
                                            </div>

                                        </div>

                                        <!--ОЧИХ ГАЗРЫН ТУХАЙ-->
                                        <div layout="column" flex="50">
                                            <div layout="row" class="toTitle">
                                                ОЧИХ ГАЗАР
                                            </div>
                                            <div layout="row">
                                                <span class="post_user_data_text2">{{ownPost.to}}</span>
                                            </div>
                                            <div layout="row">
                                        <span class="post_user_data_text2"
                                              ng-bind="convertToDate(ownPost.arrive) | date:'yyyy.MM.dd'"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div layout="row" class="more-txt padding-top-5" layout-align="start center">
                                        <md-icon md-svg-icon="carry"></md-icon>
                                        <div>АЧААНЫ ТУХАЙ:</div>
                                        <div><span
                                                ng-if="ownPost.animal">{{ownPost.animal}}&nbsp;</span><span
                                                ng-if="ownPost.stuff">{{ownPost.stuff}}</span><span
                                                ng-if="!ownPost.stuff && !ownPost.stuff">Байхгүй</span>
                                        </div>
                                    </div>

                                </div>
                            </md-card-content>


                            <md-card-content flex="15" layout="column" layout-align="center center">
                                <div layout="column" layout-align="center center"
                                     ng-if="ownPost.type === 'SENDER'">
                                    <div class="post_type_label">ИЛГЭЭХ</div>
                                    <md-icon md-svg-icon="package" class="sender-icon"></md-icon>
                                </div>

                                <div layout="column" layout-align="center center"
                                     ng-if="ownPost.type === 'CARRIER'">
                                    <div class="post_type_label">ТЭЭВЭРЛЭХ</div>
                                    <md-icon md-svg-icon="package-with-hand" class="carrier-icon"></md-icon>
                                </div>

                                <div layout="column" layout-align="center center">
                                    <p class="post_date_label">зар оруулсан</p>

                                    <p class="post_date dim-text">{{ownPost.createdDate}}</p>
                                </div>

                            </md-card-content>
                        </div>
                        <md-divider></md-divider>
                        <md-card-footer layout="row" class="left" layout-padding layout-align="space-between center">

                            <div class="padding-left-35">
                                <md-icon md-svg-icon="view"></md-icon>
                                <span>{{ownPost.requestNum}}</span>
                            </div>
                            <a href="#" class="postMore"
                               ng-click="ownPostContact(ownPost.id)"
                               ng-hide="ownPost.ownPostContactBoolean">
                                Холбогдсон хүмүүсийг харах
                            </a>
                            <a href="#" class="postMore" ng-click="ownPostContact(ownPost.id)"
                               ng-show="ownPost.ownPostContactBoolean">
                                Холбогдсон хүмүүсийг нуух
                            </a>

                            <a href="#" class="postMore" ng-click="ownPostHide(ownPost.id)">
                                Зарыг идэвхгүй болгох
                            </a>
                            <a href="#" class="postMore" ng-click="getPost(ownPost)"
                               class="hide-menu">
                                Зарыг засах
                            </a>
                        </md-card-footer>
                        <md-card-content ng-show="ownPost.ownPostContactBoolean">
                            <div layout="row" style=" border-top:1pt solid #e5e7da;">
                                <div flex="15" layout="column" layout-align="center center" style="color:#5a6770">
                                    <div layout="row" layout-padding style="  padding: 4px;">
                                        <md-icon md-svg-icon="view" style="margin:0;"></md-icon>
                                        <div style="color:#5a6770;   padding-top: 3px; padding-left: 5px">
                                            {{ownPost.data.length}}
                                        </div>
                                    </div>
                                </div>
                                <div flex="40" layout="column" layout-align="center"
                                     style="color:#5a6770; padding-left: 10px; font-weight: 500;">
                                    Холбоо барих
                                </div>
                                <div flex="45" layout="column" layout-align="center center">
                                    <div layout="row">
                                        <div layout="column" layout-align="center center"
                                             style="color:#5a6770; font-weight: 500;">
                                            Холбогдсон
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div layout="row" ng-repeat="exchange in ownPost.data" class="border_bottom"
                                 style="background-color: snow" id="{{ownPost.id}}-{{exchange.username}}">
                                <div flex="15" layout="column" layout-align="center center">
                                    <img ng-src="ws/profile/image/{{ownPost.username}}.png"
                                         style="height: 40px; width: 40px"/>

                                    <div>{{exchange.username}}</div>
                                </div>
                                <div flex="40" layout="column" style="font-weight: 500">

                                    <div layout="row" layout-padding style="  padding: 4px;">
                                        <md-icon md-svg-icon="mail" style="margin:0;"></md-icon>
                                        <div style="color:#5a6770;   padding-top: 3px; padding-left: 5px">
                                            {{exchange.email}}
                                        </div>
                                    </div>
                                    <div layout="row" layout-padding style="  padding: 4px;">
                                        <md-icon md-svg-icon="phone" style="margin:0; color:#5a6770"></md-icon>
                                        <div style="color:#5a6770;   padding-top: 3px; padding-left: 5px">
                                            {{exchange.phone}}
                                        </div>
                                    </div>
                                </div>
                                <div flex="20" layout="column" style="font-weight: 500; color:#5a6770"
                                     layout-align="center center">
                                    {{exchange.createdDate}}
                                </div>
                                <div flex="20" class="top5x">
                                    <md-button class="md-warn"
                                               ng-click="hideLine(exchange.id,ownPost.id,exchange.username)">
                                        Холбоо цуцлах
                                    </md-button>

                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-grid-title>
            </md-grid-item>

            <md-button class="md-accent" ng-click="ownPostPaging()" ng-show="ownNextBtn">Цааш үзэх...</md-button>


        </md-content>
    </div>
</div>

