<md-content layout="column" layout-fill ng-init="init();submit=false"  layout-padding>

    <div layout="row" flex style="padding: 0 8px">
        <div layout="column" flex="50" layout-align="center start">
            <div layout="row">

                <div class="padding-left-10">
                    <md-icon md-svg-icon="from-location" class="blue"></md-icon>
                    <label class="filter-title-3">Хөдлөх</label>
                </div>
            </div>
            <div layout="row">
                <div layout="column">
                    <md-input-container>
                        <label class="filter-title">Хөдлөх хот/аймаг</label>
                        <md-select ng-required="true" name="fromCity" class="datepicker-filter-adjust6"
                                   ng-change="submit == true ? arriveValidation() : submit"
                                   data-ng-model="newPost.fromCityId"
                                >
                            <md-option ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div class="element-hide mini-red" id="fromCity">
                        <span>Хөдлөх хотоо сонгоно уу</span><img src="/image/error.png" class="error-image">
                    </div>
                </div>
            </div>
            <div layout="row">
                <div layout="column">
                    <md-input-container>
                        <label class="filter-title">Очих хот/аймаг</label>
                        <md-select ng-required="true" name="toCity" class="datepicker-filter-adjust6"
                                   ng-change="submit == true ? arriveValidation() : submit"
                                   data-ng-model="newPost.toCityId"
                                >
                            <md-option ng-value="{{city.id}}" ng-repeat="city in cities">{{city.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div class="element-hide mini-red" id="toCity">
                        <span>Очих хотоо сонгоно уу</span><img src="/image/error.png" class="error-image">
                    </div>

                </div>
            </div>
            <div layout="row">
                <div layout="column">
                    <label class="filter-title-2">Хөдлөх өдөр</label>
                    <md-datepicker ng-required="true" name="when" ng-model="newPost.when"
                                   md-placeholder="өдөр сонгох"
                                   format="yyyy.MM.dd"
                                   ng-change="submit == true ? arriveValidation() : submit"
                                   class="datepicker-filter-adjust6"
                                   md-max-date="newPost.arrive" md-min-date="minDate"></md-datepicker>

                    <div class="element-hide mini-red" id="when">
                        <span>Явах огноо сонгоно уу</span><img src="/image/error.png" class="error-image">
                    </div>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex="50" layout-align="center start">
            <div layout="row">
                <div class="padding-left-10">
                    <md-icon md-svg-icon="to-location"  class="blue"></md-icon>
                    <label class="filter-title-3">Очих</label>
                </div>
            </div>
            <div layout="row" flex>
                <div class="column">
                    <md-input-container>
                        <label class="filter-title">Хөдлөх дүүрэг/сум</label>
                        <md-select ng-required="true" name="fromDistrict" class="datepicker-filter-adjust6"
                                   ng-change="submit == true ? arriveValidation() : submit"
                                   data-ng-model="newPost.fromDistrictId"
                                >
                            <md-option ng-value="{{district.id}}" ng-repeat="district in fromDistricts">
                                {{district.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div class="element-hide mini-red" id="fromDistrict">
                        <span>Хөдлөх дүүрэг/сум сонгоно уу</span><img src="/image/error.png" class="error-image">
                    </div>
                </div>
            </div>

            <div layout="row">
                <div class="column">
                    <md-input-container>
                        <label class="filter-title">Очих дүүрэг/сум</label>
                        <md-select ng-required="true" name="toDistrict" class="datepicker-filter-adjust6"
                                   ng-change="submit == true ? arriveValidation() : submit"
                                   data-ng-model="newPost.toDistrictId"
                                >
                            <md-option ng-value="{{district.id}}" ng-repeat="district in toDistricts">{{district.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div class="element-hide mini-red" id="toDistrict">
                        <span>Очих дүүрэг/сум сонгоно уу</span><img src="/image/error.png" class="error-image">
                    </div>
                </div>
            </div>

            <div layout="row">

                <div layout="column">
                    <label class="filter-title-2">Очих өдөр</label>
                    <md-datepicker ng-required="true" name="arrive" ng-model="newPost.arrive"
                                   class="datepicker-filter-adjust6" md-placeholder="өдөр сонгох"
                                   ng-change="submit == true ? arriveValidation() : submit"
                                   md-min-date="(newPost.when == undefined) ? minDate : newPost.when"></md-datepicker>

                    <div class="element-hide mini-red" id="arrive">
                        <span>Явах онгоо сонгоно уу</span><img src="/image/error.png" class="error-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>

    <div layout="row" flex>
        <span class="filter-title-3">Ачаа болон зорчигч</span>
            <span class="element-hide mini-red" id="tree" style="    padding-top: 5px; padding-left: 5px">
                <span>(Доорх 3-ын аль нэгийн бөглөнө үү!)</span><img src="/image/error.png"
                                                                     class="error-image">
            </span>
    </div>

    <div layout="row" flex style="padding: 0px;">
        <div layout="row" style="padding: 0px; padding-left: 5px;">
            <md-icon md-svg-icon="passanger" data-ng-show="newPostDataCheck.passanger==true" class="blue"></md-icon>
            <md-icon md-svg-icon="no-passanger" data-ng-hide="newPostDataCheck.passanger==true"></md-icon>
            <md-checkbox name="passanger" ng-model="newPostDataCheck.passanger"
                         aria-label="passanger_checkbox">Зорчигч авч явна
            </md-checkbox>
            <md-input-container>
                <input ng-model="newPost.passanger" ng-change="submit == true ? arriveValidation() : submit" type="number" value="1"
                       ng-disabled="!newPostDataCheck.passanger" min="1" max="50">
            </md-input-container>
        </div>
    </div>
    <div layout="row" flex style="padding: 0px;">
        <div layout="column" flex="50">
            <div layout="row" style="padding: 0px; padding-left: 5px;">
                <!--_________________________________________________ PACKAGE INPUT ________________________________________________-->
                <div layout="row">
                    <md-icon md-svg-icon="no-stuff" data-ng-hide="newPostDataCheck.stuff==true"></md-icon>
                    <md-icon md-svg-icon="stuff" data-ng-show="newPostDataCheck.stuff==true"  class="blue"></md-icon>
                    <md-checkbox name="stuff" ng-required="true"
                                 ng-model="newPostDataCheck.stuff"
                                 aria-label="stuff_checkbox">Ачаа авч явна
                    </md-checkbox>
                </div>
            </div>
            <div layout="row" ng-show="newPostDataCheck.stuff">
                <md-input-container style="width:235px">
                    <label>Ачааны шаардлага</label>
                    <textarea ng-change="submit == true ? arriveValidation() : submit" ng-model="newPost.stuff" type="text"
                              md-maxlength="70" maxlength="70"></textarea>
                </md-input-container>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex="50">
            <!--_________________________________________________ DEPARTURE CITY OR PROVINCE ________________________________________________-->
            <div layout="row" style="padding: 0px; padding-left: 5px;">
                <div layout="row">
                    <md-icon md-svg-icon="cow" data-ng-show="newPostDataCheck.animal==true" class="blue"></md-icon>
                    <md-icon md-svg-icon="no-cow" data-ng-hide="newPostDataCheck.animal==true"></md-icon>
                    <md-checkbox name="animal" ng-model="newPostDataCheck.animal"
                                 aria-label="animal_checkbox">Амьтан авч явна
                    </md-checkbox>
                </div>
            </div>
            <div layout="row" ng-show="newPostDataCheck.animal">
                <md-input-container style="width:235px">
                    <label>Амьтаны шаардлага</label>
                    <textarea ng-model="newPost.animal" ng-change="submit == true ? arriveValidation() : submit" type="text"
                              md-maxlength="70" maxlength="70"></textarea>
                </md-input-container>
            </div>
        </div>
    </div>


    <div layout="row" layout-align="end center" style="border-top: 1px solid rgb(170, 209, 249)">
        <md-button ng-click="newPostSteps(1,newPostDataCheck)">Буцах</md-button>
        <md-button ng-click="newPostSteps(5,newPostDataCheck,true);submit=true;" class="md-primary"
                   > <!--!newPostDataCheck.leaveDate || !newPostDataCheck.arriveDate ||-->
            Сүүлчийн алхам
        </md-button>
    </div>
</md-content>